<% if(session) { %>
	<%- include('../template/!head.ejs') %>

	<body class="sb-nav-fixed" name="admin-ctrl">
	<%- include('../template/navbar.ejs') %>

		<div id="layoutSidenav">
		<%- include('../template/sidebar.ejs') %>

			<div id="layoutSidenav_content" >

				<%- include('../template/modalRegister.ejs') %>

				<div class="mb-5">
					<div class="container-fluid px-4">
						<div class="dynamic-title mt-4 vw-80 vw-lg-50">
							<h1 class="display-3 text-center pt-4">
								<span class="lang" data-lang="es">Inicio</span>
								<span class="lang" data-lang="en">Home</span>
							</h1>
							<p class="fs-5 text-center pb-4">
								<span class="lang" data-lang="es">Control Administrador</span>
								<span class="lang" data-lang="en">Admin Control</span>
							</p>
						</div>

						<div class="panel-button">
							<div class="container-fluid px-4 mb-4">
								<div class="help-bar container bg-dark text-light w-100 pe-2 pe-md-3 rounded-3">
									<div class="row flex-nowrap justify-content-evenly">
										<div class="col-5 col-md-3 col-lg-2 py-2">
											<button id="register-personnel" class="btn btn-outline-light text-center d-flex flex-column"
												data-bs-toggle="modal" data-bs-target="#register">
												<i class="fa-solid fa-plus fa-2x mx-auto"></i>
												<p class="m-0 mt-2">
													<span class="lang" data-lang="es">Registrar Personal</span>
													<span class="lang" data-lang="en">Register Personnel</span>
												</p>
											</button>
										</div>
										<div class="col-5 col-md-3 col-lg-2 py-2 align-self-center">
											<div class="dropdown">
												<button class="btn btn-outline-light text-center d-flex flex-column" type="button" id="drop-tables"
													data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-solid fa-angle-down fa-2x mx-auto"></i>
													<p class="m-0 mt-2">
														<span class="lang" data-lang="es">Cambiar tabla</span>
														<span class="lang" data-lang="en">Change table</span>
													</p>
												</button>
												<ul id="tables-opts" class="dropdown-menu" aria-labelledby="drop-tables">
													<li>
														<button class="dropdown-item" data-table="1" disabled>
															<span class="lang pe-none" data-lang="es">Registros de personal</span>
															<span class="lang pe-none" data-lang="en">Personnel records</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="2">
															<span class="lang pe-none" data-lang="es">Areas de adscripci贸n</span>
															<span class="lang pe-none" data-lang="en">Adscription areas</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="3">
															<span class="lang pe-none" data-lang="es">Direcciones / Subdirecciones</span>
															<span class="lang pe-none" data-lang="en">Directions / Sub-directions</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="4">
															<span class="lang pe-none" data-lang="es">Puestos</span>
															<span class="lang pe-none" data-lang="en">Positions</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="5">
															<span class="lang pe-none" data-lang="es">Categor铆as</span>
															<span class="lang pe-none" data-lang="en">Categories</span>
														</button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tables-container">
							<div id="personnel-table" class="container-fluid mb-4 mx-auto w-lg-75 w-md-80 w-90">
								<div class="row mx-md-5">
									<div class="col-12 p-1 bg-dark rounded-3">
										<!-- -- -- -- -- -- -- All records list -- -- -- -- -- -- -->
										<div class="text-center">
											<h2 class="py-2">
												<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="es">Registros de personal</p>
												<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="en">Personnel records</p>
											</h2>
										</div>

										<div class="bg-light rounded-3 m-0 p-0"> <!-- -- Accordion All -- -->
											<% if (usersData != null) { %>
											<div class="accordion accordion-flush paginator" data-rows-shown="10, 20, 30" id="accordion-all">
												<% for(let i in usersData) { %>
												<div class="accordion-item main-accordion pag-item" data-id="a-<%= usersData[i]._id %>">
													<h2 class="accordion-header" id="flush-all-a-<%= usersData[i]._id %>">
														<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#flush-all-collapse-a-<%= usersData[i]._id %>" aria-expanded="false"
														aria-controls="flush-all-collapse-a-<%= usersData[i]._id %>">
															<div class="item-header d-flex w-100">
																<div class="text-center p-0 col-3 d-flex">
																	<p class="m-0">ID: <%= usersData[i]._id %></p>
																</div>
																<div class="text-center p-0 mx-2">
																	<p class="m-0"><%= usersData[i].first_name %> <%= usersData[i].last_name %></p>
																</div>
																<div class="text-right p-0 ms-auto me-2">
																	<p class="m-0 lang" data-lang="es"><%= ('disabled' in usersData[i]) ? 'Deshabilitado' : 'Habilitado' %></p>
																	<p class="m-0 lang" data-lang="en"><%= ('disabled' in usersData[i]) ? 'Disabled' : 'Enabled' %></p>
																</div>
															</div>
														</button>
													</h2>

													<div id="flush-all-collapse-a-<%= usersData[i]._id %>" class="accordion-collapse collapse"
														aria-labelledby="flush-all-a-<%= usersData[i]._id %>" data-bs-parent="#accordion-all">
														<div class="accordion-body px-3">
															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Informaci贸n de puesto</span>
																			<span class="lang" data-lang="en">Position information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label text-center m-0">
																			<span class="lang" data-lang="es">rea de adscripci贸n</span>
																			<span class="lang" data-lang="en">Adscription area</span>
																		</p>
																		<input value="<%= ((usersData[i].area).length) ? (('description' in usersData[i].area[session.lang]) ? usersData[i].area[session.lang].description : 'N.A') : 'N.A' %>"
																			class="form-control a-<%= usersData[i]._id %>" name="area" id="area-a-<%= usersData[i]._id %>"
																			data-class="user_info" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label text-center m-0">
																			<span class="lang" data-lang="es">Direcci贸n / Subdirecci贸n</span>
																			<span class="lang" data-lang="en">Direction / Sub-direction</span>
																		</p>
																		<input value="<%= ((usersData[i].direction).length) ? (('description' in usersData[i].direction[session.lang]) ? usersData[i].direction[session.lang].description : 'N.A') : 'N.A' %>"
																			class="form-control a-<%= usersData[i]._id %>" name="direction" id="direction-a-<%= usersData[i]._id %>"
																			data-class="user_info" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label text-center m-0">
																			<span class="lang" data-lang="es">Categor铆a</span>
																			<span class="lang" data-lang="en">Category</span>
																		</p>
																		<input value="<%= ((usersData[i].category).length) ? (('description' in usersData[i].category[session.lang]) ? usersData[i].category[session.lang].description : 'N.A') : 'N.A' %>"
																			class="form-control a-<%= usersData[i]._id %>" name="category" id="category-a-<%= usersData[i]._id %>"
																			data-class="user_info" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label text-center m-0">
																			<span class="lang" data-lang="es">Puesto</span>
																			<span class="lang" data-lang="en">Position</span>
																		</p>
																		<input value="<%= ((usersData[i].position).length) ? (('description' in usersData[i].position[session.lang]) ? usersData[i].position[session.lang].description : 'N.A.') : 'N.A' %>"
																			class="form-control a-<%= usersData[i]._id %>" name="position" id="position-a-<%= usersData[i]._id %>"
																			data-class="user_info" type="text" disabled/>
																	</div>
																</div>

																<div class="row">
																	<div class="my-1 col-md-5 col-6 mx-auto">
																		<p class="text-mini-label text-center m-0">
																			<span class="lang" data-lang="es">ID Jefe directo</span>
																			<span class="lang" data-lang="en">ID manager</span>
																		</p>
																		<input value="<%= usersData[i].manager %>" class="form-control a-<%= usersData[i]._id %> <% if (usersData[i].category <= 1) { %> read-only <% } %>"
																			name="manager" id="manager-a-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled/>
																	</div>
																</div>
															</div>

															<% if('user_' in usersData[i]) { %>
															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Informaci贸n de solo lectura</span>
																			<span class="lang" data-lang="en">Read-Only information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-6 col-12 mx-auto">
																		<p class="text-mini-label text-center m-0">
																			<span class="lang" data-lang="es">Creado</span>
																			<span class="lang" data-lang="en">Created</span>
																		</p>
																		<input value="<%= usersData[i].user_.created.date %>" class="form-control a-<%= usersData[i]._id %> read-only"
																			name="created" id="created-a-<%= usersData[i]._id %>" type="date" disabled/>
																	</div>
																	<div class="my-1 col-md-6 col-12 mx-auto">
																		<p class="text-mini-label text-center m-0">
																			<span class="lang" data-lang="es">Ultimo inicio de sesi贸n</span>
																			<span class="lang" data-lang="en">Last login</span>
																		</p>
																		<input value="<%= usersData[i].user_.last_conn.date %>" class="form-control a-<%= usersData[i]._id %> read-only"
																			name="lastConn" id="lastConn-a-<%= usersData[i]._id %>" type="date" disabled/>
																	</div>
																</div>
															</div>
															<% } %>

															<div class="accordion accordion-flush mt-2" id="inner-accordions-a-<%= usersData[i]._id %>">
																<% if('eval_' in usersData[i]) { %>
																<!-- Evaluation information -->
																<div class="accordion-item">
																	<h2 class="accordion-header" id="flush-eval-a-<%= usersData[i]._id %>">
																		<button class="btn-outline-success accordion-button collapsed" type="button" data-bs-toggle="collapse"
																			data-bs-target="#flush-eval-collapse-a-<%= usersData[i]._id %>" aria-expanded="false"
																			aria-controls="flush-eval-collapse-a-<%= usersData[i]._id %>">
																			<span class="lang" data-lang="es">Evaluaciones</span>
																			<span class="lang" data-lang="en">Evaluations</span>

																		</button>
																	</h2>
																	<div id="flush-eval-collapse-a-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																		aria-labelledby="flush-eval-a-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-a-<%= usersData[i]._id %>">
																		<div class="accordion-body px-0">
																			<div class="row">

																				<% if( Object.keys(usersData[i].eval_.records).length != 0) { %>
																				<% for(let year in usersData[i].eval_.records) { %>
																				<div class="my-1 col-md-6 col-12 accordion accordion-flush" id="user-eval-<%= year %>-a-<%= usersData[i]._id %>">
																					<div class="accordion-item">
																						<h2 class="accordion-header" id="user-flush-eval-<%= year %>-a-<%= usersData[i]._id %>">
																							<button class="btn-outline-success accordion-button collapsed" type="button" data-bs-toggle="collapse"
																							data-bs-target="#user-flush-eval-<%= year %>-collapse-a-<%= usersData[i]._id %>" aria-expanded="false"
																							aria-controls="user-flush-eval-<%= year %>-collapse-a-<%= usersData[i]._id %>">
																							<span class="lang" data-lang="es">A帽o</span>
																							<span class="lang" data-lang="en">Year</span>: <span class="fw-bold me-1"><%= year %></span>
																							</button>
																						</h2>
																						<div id="user-flush-eval-<%= year %>-collapse-a-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																							aria-labelledby="user-flush-eval-<%= year %>-a-<%= usersData[i]._id %>" data-bs-parent="#flush-eval-collapse-a-<%= usersData[i]._id %>">
																							<div class="accordion-body px-0">
																								<div class="row">
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label text-center m-0">
																											<span class="lang" data-lang="es">Habilitado</span>
																											<span class="lang" data-lang="en">Enabled</span>
																										</p>
																										<div class="container ps-3">
																											<div class="button b2 mt-2 mb-2" id="button-17">
																												<input name="disabled" id="disabled-<%= year %>-a-<%= usersData[i]._id %>" type="checkbox"
																													class="checkbox a-<%= usersData[i]._id %> <%= (parseInt(year) != currYear) ? 'read-only' : '' %>"
																													data-class="evaluation" data-year="<%= year %>" <% if('disabled' in usersData[i].eval_.records[year]) { %> checked <% } %>
																													disabled>
																													<div class="knobs lang" data-lang="es" data-unchecked="S铆" data-checked="No"><span></span></div>
																													<div class="knobs lang" data-lang="en" data-unchecked="Yes" data-checked="No"><span></span></div>
																												<div class="layer"></div>
																											</div>
																										</div>
																									</div>
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label text-center m-0">
																											<span class="lang" data-lang="es">Puntuaci贸n</span>
																											<span class="lang" data-lang="en">Score</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].score %>" class="form-control a-<%= usersData[i]._id %> read-only"
																											name="score" id="score-<%= year %>-a-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled>
																									</div>
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label text-center m-0">
																											<span class="lang" data-lang="es">Respuestas</span>
																											<span class="lang" data-lang="en">Answers</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].answers %>" class="form-control a-<%= usersData[i]._id %> read-only"
																											name="answers" id="answers-<%= year %>-a-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled>
																									</div>

																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label text-center m-0">
																											<span class="lang" data-lang="es">rea</span>
																											<span class="lang" data-lang="en">Area</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].area %>" class="form-control a-<%= usersData[i]._id %> read-only"
																											name="area" id="area-<%= year %>-a-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled/>
																									</div>

																									<% if('department' in usersData[i].eval_.records[year]) { %>
																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label text-center m-0">
																											<span class="lang" data-lang="es">Departamento</span>
																											<span class="lang" data-lang="en">Department</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].direction %>" class="form-control a-<%= usersData[i]._id %> read-only"
																											name="department" id="department-<%= year %>-a-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled/>
																									</div>
																									<% } %>

																									<% if('career' in usersData[i].eval_.records[year]) { %>
																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label text-center m-0">
																											<span class="lang" data-lang="es">Carrera</span>
																											<span class="lang" data-lang="en">Career</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].position %>" class="form-control a-<%= usersData[i]._id %> read-only"
																											name="career" id="career-<%= year %>-a-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled/>
																									</div>
																									<% } %>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<% } } else { %>
																				<div class="col-12 text-center text-black-50">
																					<p class="fs-4">
																						<span class="lang" data-lang="es">No hay registros</span>
																						<span class="lang" data-lang="en">No records</span>
																					</p>
																				</div>
																				<% } %>

																			</div>
																		</div>
																	</div>
																</div>
																<% } %>

																<!-- Sensitive information -->
																<div class="accordion-item">
																	<h2 class="accordion-header" id="flush-sensitive-a-<%= usersData[i]._id %>">
																		<button class="btn-outline-warning accordion-button collapsed" type="button" data-bs-toggle="collapse"
																			data-bs-target="#flush-sensitive-collapse-a-<%= usersData[i]._id %>" aria-expanded="false"
																			aria-controls="flush-sensitive-collapse-a-<%= usersData[i]._id %>">
																			<span class="lang" data-lang="es">Informaci贸n sensible</span>
																			<span class="lang" data-lang="en">Sensitive information</span>
																		</button>
																	</h2>
																	<div id="flush-sensitive-collapse-a-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																		aria-labelledby="flush-sensitive-a-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-a-<%= usersData[i]._id %>">
																		<div class="accordion-body px-0">
																			<div class="row">
																				<div class="my-1 col-md-5 col-12 mx-auto">
																					<p class="text-mini-label text-center m-0">
																						<span class="lang" data-lang="es">Nombre(s)</span>
																						<span class="lang" data-lang="en">First Name</span>
																					</p>
																					<input value="<%= usersData[i].first_name %>" class="form-control a-<%= usersData[i]._id %>"
																						name="first_name" id="first-name-a-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled>
																				</div>
																				<div class="my-1 col-md-5 col-12 mx-auto">
																					<p class="text-mini-label text-center m-0">
																						<span class="lang" data-lang="es">Apellido(s)</span>
																						<span class="lang" data-lang="en">Last Name</span>
																					</p>
																					<input value="<%= usersData[i].last_name %>" class="form-control a-<%= usersData[i]._id %>"
																						name="last_name" id="last-name-a-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>

																<!-- Danger Zone -->
																<div class="accordion accordion-flush mt-2" id="user-accordion-inner-a-<%= usersData[i]._id %>">
																	<div class="accordion-item">
																		<h2 class="accordion-header" id="danger-flush-a-<%= usersData[i]._id %>">
																			<button class="btn-outline-danger accordion-button collapsed" type="button" data-bs-toggle="collapse"
																				data-bs-target="#danger-flush-collapse-a-<%= usersData[i]._id %>" aria-expanded="false"
																				aria-controls="danger-flush-collapse-a-<%= usersData[i]._id %>">
																				<span class="lang" data-lang="es">Zona de peligro</span>
																				<span class="lang" data-lang="en">Danger zone</span>
																			</button>
																		</h2>
																		<div id="danger-flush-collapse-a-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																			aria-labelledby="danger-flush-a-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-a-<%= usersData[i]._id %>">
																			<div class="accordion-body px-0">
																				<div class="row">
																					<div class="my-1 col-md-3 col-12 mx-auto">
																						<p class="text-mini-label text-center m-0">
																							<span class="lang" data-lang="es">Habilitado</span>
																							<span class="lang" data-lang="en">Enabled</span>
																						</p>
																						<div class="container ps-3">
																							<div class="button b2 mt-2 mb-2" id="button-17">
																								<input name="disabled" id="disabled-a-<%= usersData[i]._id %>" type="checkbox"
																									data-class="user_all" class="checkbox a-<%= usersData[i]._id %>" <% if('disabled' in usersData[i]) { %> checked <% } %> disabled>
																									<div class="knobs lang" data-lang="es" data-unchecked="S铆" data-checked="No"><span></span></div>
																									<div class="knobs lang" data-lang="en" data-unchecked="Yes" data-checked="No"><span></span></div>
																								<div class="layer"></div>
																							</div>
																						</div>
																					</div>
																					<% if('user_' in usersData[i]) { %>
																					<div class="my-1 col-md-5 col-12 mx-auto">
																						<p class="text-mini-label text-center m-0">
																							<span class="lang" data-lang="es">Contrase帽a</span>
																							<span class="lang" data-lang="en">Password</span>
																						</p>
																						<input value="amogus_sussy_baka_" class="form-control a-<%= usersData[i]._id %> mt-2"
																							name="pass" id="pass-a-<%= usersData[i]._id %>" data-class="user" type="password" autocomplete="new-password" disabled>
																					</div>
																					<% } %>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="w-100 text-right d-flex justify-content-end mt-2 pe-3">
																<button id="edit-a-<%= usersData[i]._id %>" data-id="a-<%= usersData[i]._id %>" data-table="1" class="btn-edit btn btn-secondary px-3 py-2">
																	<i class="pe-none pe-1 fa-solid fa-pen-to-square"></i>
																	<span class="pe-none lang" data-lang="es">Editar</span>
																	<span class="pe-none lang" data-lang="en">Edit</span>
																</button>
																<button id="cancel-a-<%= usersData[i]._id %>" data-id="a-<%= usersData[i]._id %>" data-table="1" class="btn-cancel btn btn-outline-danger px-3 py-2 me-2 d-none" disabled>
																	<i class="pe-none pe-1 fa-solid fa-ban"></i>
																	<span class="pe-none lang" data-lang="es">Cancelar</span>
																	<span class="pe-none lang" data-lang="en">Cancel</span>
																</button>
																<button id="save-a-<%= usersData[i]._id %>" data-id="a-<%= usersData[i]._id %>" data-table="1" class="btn-save btn btn-outline-dark px-3 py-2 d-none" disabled>
																	<i class="pe-none pe-1 fa-solid fa-floppy-disk"></i>
																	<span class="pe-none lang" data-lang="es">Guardar</span>
																	<span class="pe-none lang" data-lang="en">Save</span>
																</button>
															</div>
														</div>
													</div>
												</div>
												<% } %>
											</div>
											<% } else { %>
											<td id="empty" colspan="5" class="border-0 text-center">
												<div class="text-center">
													<i class="fa-solid fa-ghost icon-ghost f-vScreen-15 my-3 text-black-15"></i>
													<p class="my-2 text-ghost fs-4">
														<span class="lang" data-lang="es">No hay datos para mostrar</span>
														<span class="lang" data-lang="en">No records to show</span>
													</p>
												</div>
											</td>
											<% } %>
										</div>
									</div>

								</div>
							</div>

							<div id="extra" class="container-fluid mb-4 mx-auto w-lg-75 w-md-80 w-90 d-none">
								<div class="row mx-md-5">
									<div class="col-12 p-1 bg-dark rounded-3">
										<!-- -- -- -- -- -- -- Extra list -- -- -- -- -- -- -->
										<div class="text-center">
											<h2 class="py-2">
												<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang"></p>
											</h2>
										</div>
							
										<div class="bg-light rounded-3 m-0 p-0"> <!-- -- Accordion Extra -- -->
											<div class="accordion accordion-flush" id="extra-accordion">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('../template/!scripts.ejs') %>
		<script src="/js/page-inator.js"></script>
		<script src="/js/secret/admin-ctrl.js"></script>
		<script src="/js/secret/register.js"></script>
	</body>

</html>
<% } else { %>
	<%- include('../template/!handler.ejs') %>
<% } %>