<% if(session) { %>
	<%- include('../template/!head.ejs') %>
	
	<body class="sb-nav-fixed" name="admin-ctrl">
	<%- include('../template/navbar.ejs') %>
	
		<div id="layoutSidenav">
		<%- include('../template/sidebar.ejs') %>
	
			<div id="layoutSidenav_content" >
				<div class="mb-5">
					<div class="container-fluid px-4">
						<div class="dynamic-title mt-4 vw-80 vw-lg-50">
							<h1 class="display-3 text-center pt-4">
								<span class="lang" data-lang="es">Inicio</span>
								<span class="lang" data-lang="en">Home</span>
							</h1>
							<p class="fs-5 text-center pb-4">
								<span class="lang" data-lang="es">Control Administrador</span>
								<span class="lang" data-lang="en">Admin Control</span>
							</p>
						</div>
						
						<div>
							<div class="container-fluid px-4 mb-4">
								<div class="help-bar container bg-dark text-light w-100 rounded-3">
									<div class="row flex-nowrap">
										<div class="col-7 col-md-9 col-lg-10 text-center d-inline-flex my-2">
											<i class="fa-solid ms-3 me-2 my-auto fa-info-circle fa-2x blink"></i>
											<p class="d-flex fs-5 me-auto ms-2 my-2">
												<span class="lang my-auto" data-lang="es">Opciones</span>
												<span class="lang my-auto" data-lang="en">Options</span>
											</p>
										</div>
										<div class="col-5 col-md-3 col-lg-2 py-2">
											<button id="registerPersonnel" class="btn btn-outline-light text-center d-flex flex-column">
												<span class="w-100">
													<i class="fa-solid fa-plus fa-2x"></i>
												</span>
												<span class="w-100 mt-2">
													<span class="lang" data-lang="es">Registrar Personal</span>
													<span class="lang" data-lang="en">Register Personnel</span>
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="container-fluid mb-4">
								<div class="row mx-md-5">
									<div class="col-12 p-1 bg-dark rounded-3">
										<!-- -- -- -- -- -- -- All list -- -- -- -- -- -- -->
										<div class="text-center">
											<h2 class="py-2">
												<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="es">Todos los Registros</p>
												<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="en">All records</p>
											</h2>
										</div>
	
										<div class="bg-light rounded-3 m-0 p-0"> <!-- -- Accordion All -- -->
											<% if (usersData != null) { %>
											<div class="accordion accordion-flush" id="accordion-all">
												<% for(let i in usersData) { %>
												<div class="accordion-item main-accordion" data-id="<%= usersData[i]._id %>">
													<h2 class="accordion-header" id="flush-all-<%= usersData[i]._id %>">
														<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#flush-all-collapse-<%= usersData[i]._id %>" aria-expanded="false"
														aria-controls="flush-all-collapse-<%= usersData[i]._id %>">
															<div class="item-header d-flex w-100">
																<div class="text-center p-0 col-3 d-flex">
																	<p class="m-0">ID: <%= usersData[i]._id %></p>
																</div>
																<div class="text-center p-0 mx-2">
																	<p class="m-0"><%= usersData[i].first_name %> <%= usersData[i].last_name %></p>
																</div>
																<div class="text-right p-0 ms-auto me-2">
																	<p class="m-0 lang" data-lang="es"><%= ('disabled' in usersData[i]) ? 'Deshabilitado' : 'Habilitado' %></p>
																	<p class="m-0 lang" data-lang="en"><%= ('disabled' in usersData[i]) ? 'Disabled' : 'Enabled' %></p>
																</div>
															</div>
														</button>
													</h2>

													<div id="flush-all-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
														aria-labelledby="flush-all-<%= usersData[i]._id %>" data-bs-parent="#accordion-all">
														<div class="accordion-body">
															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Informaci贸n de puesto</span>
																			<span class="lang" data-lang="en">Position information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">rea</span>
																			<span class="lang" data-lang="en">Score</span>
																		</p>
																		<input value="<%= usersData[i].area %>" class="form-control <%= usersData[i]._id %>"
																			name="area" id="area-<%= usersData[i]._id %>" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Departamento</span>
																			<span class="lang" data-lang="en">Department</span>
																		</p>
																		<input value="<%= ('department' in usersData[i]) ? usersData[i].department : '' %>" class="form-control <%= usersData[i]._id %>"
																			name="department" id="department-<%= usersData[i]._id %>" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6 mx-auto">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Carrera</span>
																			<span class="lang" data-lang="en">Career</span>
																		</p>
																		<input value="<%= ('career' in usersData[i]) ? usersData[i].career : '' %>" class="form-control <%= usersData[i]._id %>"
																			name="career" id="career-<%= usersData[i]._id %>" type="text" disabled/>
																	</div>
																</div>
															</div>

															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Otra informaci贸n</span>
																			<span class="lang" data-lang="en">More (Cambiar nombre) information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">ID Jefe directo</span>
																			<span class="lang" data-lang="en">ID manager</span>
																		</p>
																		<input value="<%= usersData[i].manager %>" class="form-control <%= usersData[i]._id %>"
																			name="manager" id="manager-<%= usersData[i]._id %>" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Contrato</span>
																			<span class="lang" data-lang="en">Contract</span>
																		</p>
																		<input value="<%= usersData[i].contract %>" class="form-control <%= usersData[i]._id %>"
																			name="contract" id="contract-<%= usersData[i]._id %>" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6 mx-auto">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Nivel</span>
																			<span class="lang" data-lang="en">Level</span>
																		</p>
																		<input value="<%= usersData[i].level %>" class="form-control <%= usersData[i]._id %>"
																			name="level" id="level-<%= usersData[i]._id %>" type="number" max="5" min="1" disabled/>
																	</div>
																</div>
															</div>
															
															<% if('user_' in usersData[i]) { %>
															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Informaci贸n de solo lectura</span>
																			<span class="lang" data-lang="en">Read-Only information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Creado</span>
																			<span class="lang" data-lang="en">Created</span>
																		</p>
																		<input value="<%= usersData[i].user_.created.date %>" class="form-control user-<%= usersData[i]._id %>"
																			name="created" id="created-<%= usersData[i]._id %>" type="date" disabled/>
																	</div>
																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Ultimo inicio de sesi贸n</span>
																			<span class="lang" data-lang="en">Last login</span>
																		</p>
																		<input value="<%= usersData[i].user_.last_conn.date %>" class="form-control user-<%= usersData[i]._id %>"
																			name="lastConn" id="lastConn-<%= usersData[i]._id %>" type="date" disabled/>
																	</div>
																</div>
															</div>
															<% } %>
															
															<div class="accordion accordion-flush mt-2" id="inner-accordions-<%= usersData[i]._id %>">

																<% if('eval_' in usersData[i]) { %>
																<!-- Evaluation information -->
																<div class="accordion-item">
																	<h2 class="accordion-header" id="flush-eval-<%= usersData[i]._id %>">
																		<button class="btn-outline-success accordion-button collapsed" type="button" data-bs-toggle="collapse"
																			data-bs-target="#flush-eval-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																			aria-controls="flush-eval-collapse-<%= usersData[i]._id %>">
																			<span class="lang" data-lang="es">Evaluaciones</span>
																			<span class="lang" data-lang="en">Evaluations</span>
																			
																		</button>
																	</h2>
																	<div id="flush-eval-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																		aria-labelledby="flush-eval-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-<%= usersData[i]._id %>">
																		<div class="accordion-body px-0">
																			<div class="row">
																			
																				<% for(let year in usersData[i].eval_.records) { %>
																				<div class="my-1 col-md-6 col-12 accordion accordion-flush" id="user-eval-<%= year %>-<%= usersData[i]._id %>">
																					<div class="accordion-item">
																						<h2 class="accordion-header" id="user-flush-eval-<%= year %>-<%= usersData[i]._id %>">
																							<button class="btn-outline-success accordion-button collapsed" type="button" data-bs-toggle="collapse"
																							data-bs-target="#user-flush-eval-<%= year %>-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																							aria-controls="user-flush-eval-<%= year %>-collapse-<%= usersData[i]._id %>">
																							<span class="lang" data-lang="es">A帽o</span>
																							<span class="lang" data-lang="en">Year</span>: <span class="fw-bold me-1"><%= year %></span> 
																							</button>
																						</h2>
																						<div id="user-flush-eval-<%= year %>-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																							aria-labelledby="user-flush-eval-<%= year %>-<%= usersData[i]._id %>" data-bs-parent="#flush-eval-collapse-<%= usersData[i]._id %>">
																							<div class="accordion-body px-0">
																								<div class="row">
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Habilitado</span>
																											<span class="lang" data-lang="en">Enabled</span>
																										</p>
																										<div class="container ps-3">
																											<div class="button b2 mt-2 mb-2" id="button-17">
																												<input name="enabled-<%= year %>" id="enabled-<%= year %>-<%= usersData[i]._id %>" type="checkbox"
																													class="checkbox" <% if(!('disabled' in usersData[i].eval_.records[year])) { %> checked <% } %> disabled>
																													<div class="knobs lang" data-lang="es" data-checked="S铆" data-unchecked="No"><span></span></div>
																													<div class="knobs lang" data-lang="en" data-checked="Yes" data-unchecked="No"><span></span></div>
																												<div class="layer"></div>
																											</div>
																										</div>
																									</div>
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Puntuaci贸n</span>
																											<span class="lang" data-lang="en">Score</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].score %>" class="form-control <%= usersData[i]._id %>"
																											name="score-<%= year %>" id="score-<%= year %>-<%= usersData[i]._id %>" type="text" disabled>
																									</div>
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Respuestas</span>
																											<span class="lang" data-lang="en">Answers</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].score %>" class="form-control <%= usersData[i]._id %>"
																											name="answers-<%= year %>" id="answers-<%= year %>-<%= usersData[i]._id %>" type="text" disabled>
																									</div>

																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">rea</span>
																											<span class="lang" data-lang="en">Area</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].area %>" class="form-control <%= usersData[i]._id %>"
																											name="area-<%= year %>" id="area-<%= year %>-<%= usersData[i]._id %>" type="text" disabled/>
																									</div>

																									<% if('department' in usersData[i].eval_.records[year]) { %>
																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Departamento</span>
																											<span class="lang" data-lang="en">Department</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].department %>" class="form-control <%= usersData[i]._id %>"
																											name="department-<%= year %>" id="department-<%= year %>-<%= usersData[i]._id %>" type="text" disabled/>
																									</div>
																									<% } %>

																									<% if('career' in usersData[i].eval_.records[year]) { %>
																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Carrera</span>
																											<span class="lang" data-lang="en">Career</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].career %>" class="form-control <%= usersData[i]._id %>"
																											name="career-<%= year %>" id="career-<%= year %>-<%= usersData[i]._id %>" type="text" disabled/>
																									</div>
																									<% } %>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<% } %>

																			</div>
																		</div>
																	</div>
																</div>
																<% } %>
																
																<!-- Sensitive information -->
																<div class="accordion-item">
																	<h2 class="accordion-header" id="flush-sensitive-<%= usersData[i]._id %>">
																		<button class="btn-outline-warning accordion-button collapsed" type="button" data-bs-toggle="collapse"
																			data-bs-target="#flush-sensitive-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																			aria-controls="flush-sensitive-collapse-<%= usersData[i]._id %>">
																			<span class="lang" data-lang="es">Informaci贸n sensible</span>
																			<span class="lang" data-lang="en">Sensitive information</span>
																		</button>
																	</h2>
																	<div id="flush-sensitive-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																		aria-labelledby="flush-sensitive-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-<%= usersData[i]._id %>">
																		<div class="accordion-body px-0">
																			<div class="row">
																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Calle</span>
																						<span class="lang" data-lang="en">Street</span>
																					</p>
																					<input value="<%= usersData[i].address.street %>" class="form-control <%= usersData[i]._id %>"
																						name="street" id="street-<%= usersData[i]._id %>" type="text" disabled>
																				</div>
																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Numero</span>
																						<span class="lang" data-lang="en">Number</span>
																					</p>
																					<input value="<%= usersData[i].address.num %>" class="form-control <%= usersData[i]._id %>"
																						name="number" id="number-<%= usersData[i]._id %>" type="number" maxlength="6" max="999999" min="0" disabled>
																				</div>
																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">C贸digo postal</span>
																						<span class="lang" data-lang="en">Postal code</span>
																					</p>
																					<input value="<%= usersData[i].address.postal_code %>" class="form-control <%= usersData[i]._id %>"
																						name="pc" id="pc-<%= usersData[i]._id %>" type="number" maxlength="5" max="99999" min="0" disabled>
																				</div>
																				
																				<div class="my-1 col-12">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Fecha de nacimiento</span>
																						<span class="lang" data-lang="en">Birthday</span>
																					</p>
																					<input value="<%= usersData[i].b_day.date %>" class="form-control <%= usersData[i]._id %>"
																						name="bday" id="bday-<%= usersData[i]._id %>" type="text" disabled>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>

																<!-- Danger Zone -->
																<div class="accordion accordion-flush mt-2" id="user-accordion-inner-<%= usersData[i]._id %>">
																	<div class="accordion-item">
																		<h2 class="accordion-header" id="danger-flush-<%= usersData[i]._id %>">
																			<button class="btn-outline-danger accordion-button collapsed" type="button" data-bs-toggle="collapse"
																				data-bs-target="#danger-flush-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																				aria-controls="danger-flush-collapse-<%= usersData[i]._id %>">
																				<span class="lang" data-lang="es">Zona de peligro</span>
																				<span class="lang" data-lang="en">Danger zone</span>
																			</button>
																		</h2>
																		<div id="danger-flush-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																			aria-labelledby="danger-flush-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-<%= usersData[i]._id %>">
																			<div class="accordion-body px-0">
																				<div class="row">
																					<div class="my-1 col-md-3 col-5 mx-auto">
																						<p class="text-mini-label m-0">
																							<span class="lang" data-lang="es">Habilitado</span>
																							<span class="lang" data-lang="en">Enabled</span>
																						</p>
																						<div class="container ps-3">
																							<div class="button b2 mt-2 mb-2" id="button-17">
																								<input name="enabled" id="enabled-<%= usersData[i]._id %>" type="checkbox"
																									class="checkbox" <% if(!('disabled' in usersData[i])) { %> checked="true" <% } %> >
																									<div class="knobs lang" data-lang="es" data-checked="S铆" data-unchecked="No"><span></span></div>
																									<div class="knobs lang" data-lang="en" data-checked="Yes" data-unchecked="No"><span></span></div>
																								<div class="layer"></div>
																							</div>
																						</div>
																					</div>
																					<% if('user_' in usersData[i]) { %>
																					<div class="my-1 col-md-9 col-7">
																						<p class="text-mini-label m-0">
																							<span class="lang" data-lang="es">Contrase帽a</span>
																							<span class="lang" data-lang="en">Password</span>
																						</p>
																						<input value="What are you looking for sussy baka?? " class="form-control <%= usersData[i]._id %>"
																							name="pass" id="pass-<%= usersData[i]._id %>"type="password" autocomplete="new-password" disabled>
																					</div>
																					<% } %>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																
															</div>
														</div>
													</div>
												</div>
												<% } %>
											</div>
											<% } else { %>
											<td id="empty" colspan="5" class="border-0 text-center">
												<div class="text-center">
													<i class="fa-solid fa-ghost icon-ghost f-vScreen-15 my-3 text-black-15"></i>
													<p class="my-2 text-ghost fs-4">
														<span class="lang" data-lang="es">No hay datos para mostrar</span>
														<span class="lang" data-lang="en">No records to show</span>
													</p>
												</div>
											</td>
											<% } %>
										</div>
									</div>

									<% if(false) { %> <!-- 3 tables mode -->
									<div class="col-lg-6 col-12 p-1 bg-dark rounded-3">
										<div>
											<!-- -- -- -- -- -- -- Users -- -- -- -- -- -- -->
											<div class="text-center">
												<h2 class="py-2">
													<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="es">Solo Usuarios</p>
													<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="en">Only Users</p>
												</h2>
											</div>
		
											<div class="bg-light rounded-3 m-0 p-0"> <!-- -- Accordion Users -- -->
												<div class="accordion accordion-flush" id="accordion-users">
												
												<% for(let i=0; i<3; i++) { %>
													<div class="accordion-item">
														<h2 class="accordion-header" id="flush-eval-<%= usersData[i]._id %>">
															<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-eval-collapse-<%= usersData[i]._id %>" aria-expanded="false" aria-controls="flush-eval-collapse-<%= usersData[i]._id %>">
																<div class="item-header d-flex w-100">
																	<div class="text-center p-0 col-3 d-flex">
																		<p class="m-0">ID: R0000</p>
																	</div>
																	<div class="text-center p-0 mx-2">
																		<p class="m-0">Jeremy Oswald Richarte Bernal</p>
																	</div>
																	<div class="text-right p-0 ms-auto me-2">
																		<p class="m-0">Enabled:</p>
																	</div>
																</div>
															</button>
														</h2>

														<div id="flush-eval-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse" aria-labelledby="flush-eval-<%= usersData[i]._id %>" data-bs-parent="#accordion-users">
															<div class="accordion-body">
																<div class="row">
																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">Created:</p>
																		<input value="" class="form-control user-<%= usersData[i]._id %>" name="area" id="area-<%= usersData[i]._id %>" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">Last connection:</p>
																		<input value="" class="form-control user-<%= usersData[i]._id %>" name="career" id="career-<%= usersData[i]._id %>" type="text" disabled/>
																	</div>
																	
																	<div class="accordion accordion-flush mt-2" id="user-accordion-inner-<%= usersData[i]._id %>">
																		<div class="accordion-item">
																			<h2 class="accordion-header" id="user-flush-<%= usersData[i]._id %>-danger">
																				<button class="btn-outline-info accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#user-flush-collapse-<%= usersData[i]._id %>-danger" aria-expanded="false" aria-controls="user-flush-collapse-<%= usersData[i]._id %>-danger">
																					Danger Zone
																				</button>
																			</h2>
																			<div id="user-flush-collapse-<%= usersData[i]._id %>-danger" class="accordion-collapse collapse" aria-labelledby="user-flush-<%= usersData[i]._id %>-danger" data-bs-parent="#user-accordion-inner-<%= usersData[i]._id %>">
																				<div class="accordion-body px-0">
																					<div class="row">
																						<div class="my-1 col-md-3 col-5">
																							<p class="text-mini-label m-0">Enabled:</p>
																							<input value="" class="form-control user-<%= usersData[i]._id %>" name="department" id="department-<%= usersData[i]._id %>" type="text" disabled/>
																						</div>
																						<div class="my-1 col-md-9 col-7">
																							<p class="text-mini-label m-0">Password:</p>
																							<input value="" class="form-control <%= usersData[i]._id %>" name="pass" id="pass-<%= usersData[i]._id %>" type="password" autocomplete="new-password">
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	
																</div>
															</div>
														</div>
													</div>
												<% } %>

												</div>
											</div>
										</div>

										<div>
											<!-- -- -- -- -- -- -- Evaluations -- -- -- -- -- -- -->
											<div class="text-center">
												<h2 class="py-2">
													<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="es">Evaluaciones</p>
													<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="en">Evaluations</p>
												</h2>
											</div>
		
											<div class="bg-light rounded-3 m-0 p-0"> <!-- -- Accordion Evaluations -- -->
												<div class="accordion accordion-flush" id="accordion-evals">
												
												<% for(let i=0; i<3; i++) { %>
													
												<% } %>

												</div>
											</div>
										</div>
									</div>
									<% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<%- include('../template/!scripts.ejs') %>
		<script src="/js/page-inator.js"></script>
		<script src="/js/admin-ctrl.js"></script>
	</body>
	
</html>
<% } else { %>
	<%- include('../template/!handler.ejs') %>
<% } %>