<% if(session) { %>
	<%- include('../template/!head.ejs') %>
	
	<body class="sb-nav-fixed" name="admin-ctrl">
	<%- include('../template/navbar.ejs') %>
	
		<div id="layoutSidenav">
		<%- include('../template/sidebar.ejs') %>
	
			<div id="layoutSidenav_content" >

				<!-- Modal Register -->
				<div id="register" class="modal fade">
					<div class="modal-dialog modal-xl modal-dialog-centered w-90 w-md-75">
						<div class="modal-content bg-dark rounded-3 shadow-lg">
							<div class="row my-auto align-content-center px-3">
								<div class="container">
									<div class="row mt-3">
										<div class="col-2"></div>
										<div class="col d-flex justify-content-center">
											<h4 class="text-light p-0 mt-2">
												<span class="p-0 lang" data-lang="es">Registros de personal</span>
												<span class="p-0 lang" data-lang="en">Personnel records</span>
											</h4>
										</div>
										<div class="col-2 d-flex justify-content-center align-content-center">
											<button type="button" class="btn btn-outline-light my-auto d-flex" data-bs-dismiss="modal" aria-label="Close">
												<i class="fa-solid fa-xmark fs-5 my-auto"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="card-body">
									<form method="POST" name="f-reg" id="f-reg" autocomplete="off">
										<div class="row mb-3">
											<div class="col-md-6 col-12">
												<div class="form-floating mb-3 mb-md-0">
													<input class="form-control bg-light" name="first_name" id="first_name"
														type="text" placeholder="." maxlength="30" />
													<label for="first_name">Nombre(s)</label>
												</div>
											</div>
											<div class="col-md-6 col-12">
												<div class="form-floating">
													<input class="form-control bg-light" name="last_name" id="last_name"
														type="text" placeholder="." maxlength="30" />
													<label for="last_name">Apellido(s)</label>
												</div>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6 col-12">
												<div class="form-floating mb-3 mb-md-0">
													<select class="form-control form-select ps-4" name="area" id="area">
														<option id="area-def" value="0" selected>- Selecciona 谩rea -</option>
														<% /*for(let data in area) { %>
															<option class="area-opt" value="<%= area[data]['n'] %>"><%= area[data]['desc'] %></option>
														<% }*/ %>
													</select>
													<label for="area">rea de Adscripci贸n</label>
												</div>
											</div>
											<div class="col-md-6 col-12">
												<div class="form-floating mb-3 mb-md-0">
													<select class="form-control form-select ps-4" name="direction" id="direction">
														<option id="dir-def" value="0" selected>- Selecciona direcci贸n -</option>
														<% /*for(let data in depa) { %>
															<option class="dir-opt" data-area="<%= depa[data]['area'] %>" value="<%= depa[data]['n'] %>"><%= depa[data]['desc'] %></option>
														<% }*/ %>
													</select>
													<label for="direction">Direcci贸n / Subdirecci贸n</label>
												</div>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6 col-12">
												<div class="form-floating">
													<select class="form-control form-select ps-4" name="position" id="position">
														<option id="pos-def" value="0" selected>- Selecciona puesto -</option>
														<% /*for(let data in care) { %>
															<option class="pos-opt" data-depa="<%= care[data]['department'] %>" value="<%= care[data]['n'] %>"><%= care[data]['desc'] %></option>
														<% }*/ %>
													</select>
													<label for="position">Puesto</label>
												</div>
											</div>
										</div>
										
										<div class="row mb-3">
											<div class="col-md-6 col-12">
												<div class="form-floating">
													<select class="form-control form-select ps-4" name="category" id="category">
														<option id="cat-def" value="0" selected>- Selecciona categor铆a -</option>
														<option class="cat-opt" value="1">Mando Medio</option>
														<option class="cat-opt" value="2">Administrativo</option>
														<option class="cat-opt" value="3">Docente</option>
													</select>
													<label for="category">Categor铆a</label>
												</div>
											</div>
											<div class="col-md-6 col-12">
												<div class="form-floating mb-3 mb-md-0">
													<input class="form-control bg-light" name="manager" id="manager"
														type="text" placeholder="." />
													<label for="manager">Manager</label>
												</div>
											</div>
										</div>
							
										<div class="row mb-3">
											<div class="col-md-6 col-12">
												<div class="form-floating">
													<input class="form-control bg-light" name="new-id" id="new_id"
														type="number" placeholder="0" min="0" />
													<label for="new_id">C贸digo de usuario</label>
												</div>
											</div>
											<div class="col-md-6 col-12">
												<div class="form-floating mb-3 mb-md-0">
													<input class="form-control bg-light" name="new-pass" id="new_pass" maxlength="20"
														type="password" placeholder="." autocomplete="new-password" />
													<label for="new_pass">Contrase帽a</label>
												</div>
											</div>
										</div>
							
										<div class="mt-4 mb-0">
											<div class="row mt-5">
												<button id="submit-register" class="mx-auto w-50 w-md-25 btn btn-success text-dark fs-5 btn-block"
													type="button">Registrar</button>
												<p class="p-0 text-light text-center my-4">O subir un <span data-bs-dismiss="modal" aria-label="Close"
													data-bs-toggle="modal" data-bs-target="#register-file" class="text-warning fw-bold cursor-pointer">archivo Excel</span>
												</p>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="register-file" class="modal fade">
					<div class="modal-dialog modal-xl modal-dialog-centered w-75 w-md-60">
						<div class="modal-content bg-dark rounded-3 shadow-lg">
							<div class="container">
								<div class="row mt-3">
									<div class="col-2"></div>
									<div class="col d-flex justify-content-center">
										<h4 class="text-light p-0 mt-2">
											<span class="p-0 lang" data-lang="es">Registros de personal (Archivo)</span>
											<span class="p-0 lang" data-lang="en">Personnel records (File)</span>
										</h4>
									</div>
									<div class="col-2 d-flex justify-content-center align-content-center">
										<button type="button" class="btn btn-outline-light my-auto d-flex" data-bs-dismiss="modal" aria-label="Close">
											<i class="fa-solid fa-xmark fs-5 my-auto"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="row m-b-1">
								<div class="col-sm-6 offset-sm-3 my-4">
									<div class="form-group inputDnD">
										<label class="sr-only lang" data-lang="es" for="inputFile">File Upload</label>
										<label class="sr-only lang" data-lang="en" for="inputFile">File Upload</label>

										<input type="file" class="lang p-0 form-control-file text-warning font-weight-bold"
											id="inputFile" accept=".xls, .xlsx" onchange="readUrl(this)"
											data-lang="es" data-title="Haz clic aqu铆 o arrastra y suelta el archivo">
										<input type="file" class="lang p-0 form-control-file text-warning font-weight-bold"
											id="inputFile" accept=".xls, .xlsx" onchange="readUrl(this)"
											data-lang="en" data-title="Click here or drag and drop a file">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="mb-0">
									<div class="row mt-2">
										<button id="submit-register" class="mx-auto w-50 w-md-25 btn btn-success text-dark fs-5 btn-block"
											type="button">Subir</button>
										<p class="p-0 text-light text-center my-4">Cambiar a <span data-bs-dismiss="modal" aria-label="Close"
											data-bs-toggle="modal" data-bs-target="#register" class="text-warning fw-bold cursor-pointer">registro manual</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mb-5">
					<div class="container-fluid px-4">
						<div class="dynamic-title mt-4 vw-80 vw-lg-50">
							<h1 class="display-3 text-center pt-4">
								<span class="lang" data-lang="es">Inicio</span>
								<span class="lang" data-lang="en">Home</span>
							</h1>
							<p class="fs-5 text-center pb-4">
								<span class="lang" data-lang="es">Control Administrador</span>
								<span class="lang" data-lang="en">Admin Control</span>
							</p>
						</div>
						
						<div class="panel-button">
							<div class="container-fluid px-4 mb-4">
								<div class="help-bar container bg-dark text-light w-100 pe-2 pe-md-3 rounded-3">
									<div class="row flex-nowrap justify-content-evenly">
										<div class="col-5 col-md-3 col-lg-2 py-2">
											<button id="registerPersonnel" class="btn btn-outline-light text-center d-flex flex-column"
												data-bs-toggle="modal" data-bs-target="#register">
												<i class="fa-solid fa-plus fa-2x mx-auto"></i>
												<p class="m-0 mt-2">
													<span class="lang" data-lang="es">Registrar Personal</span>
													<span class="lang" data-lang="en">Register Personnel</span>
												</p>
											</button>
										</div>
										<div class="col-5 col-md-3 col-lg-2 py-2">
											<div class="dropdown">
												<button class="btn btn-outline-light text-center d-flex flex-column" type="button" id="drop-tables"
													data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-solid fa-angle-down fa-2x mx-auto"></i>
													<p class="m-0 mt-2">
														<span class="lang" data-lang="es">Cambiar tabla</span>
														<span class="lang" data-lang="en">Change table</span>
													</p>
												</button>
												<ul class="dropdown-menu" aria-labelledby="drop-tables">
													<li>
														<button class="dropdown-item" data-table="1" disabled>
															<span class="lang" data-lang="es">Registros de personal</span>
															<span class="lang" data-lang="en">Personnel records</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="2">
															<span class="lang" data-lang="es">Areas</span>
															<span class="lang" data-lang="en">Areas</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="3">
															<span class="lang" data-lang="es">Departamentos</span>
															<span class="lang" data-lang="en">Departments</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="4">
															<span class="lang" data-lang="es">Carreras</span>
															<span class="lang" data-lang="en">Careers</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="5">
															<span class="lang" data-lang="es">Contratos</span>
															<span class="lang" data-lang="en">Contracts</span>
														</button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tables-container">
							<div class="container-fluid mb-4 mx-auto w-lg-75 w-md-80 w-90">
								<div class="row mx-md-5">
									<div class="col-12 p-1 bg-dark rounded-3">
										<!-- -- -- -- -- -- -- All list -- -- -- -- -- -- -->
										<div class="text-center">
											<h2 class="py-2">
												<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="es">Registros de personal</p>
												<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang" data-lang="en">Personnel records</p>
											</h2>
										</div>
	
										<div class="bg-light rounded-3 m-0 p-0"> <!-- -- Accordion All -- -->
											<% if (usersData != null) { %>
											<div class="accordion accordion-flush paginator" data-rows-shown="10, 20, 30" id="accordion-all">
												<% for(let i in usersData) { %>
												<div class="accordion-item main-accordion pag-item" data-id="<%= usersData[i]._id %>">
													<h2 class="accordion-header" id="flush-all-<%= usersData[i]._id %>">
														<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
														data-bs-target="#flush-all-collapse-<%= usersData[i]._id %>" aria-expanded="false"
														aria-controls="flush-all-collapse-<%= usersData[i]._id %>">
															<div class="item-header d-flex w-100">
																<div class="text-center p-0 col-3 d-flex">
																	<p class="m-0">ID: <%= usersData[i]._id %></p>
																</div>
																<div class="text-center p-0 mx-2">
																	<p class="m-0"><%= usersData[i].first_name %> <%= usersData[i].last_name %></p>
																</div>
																<div class="text-right p-0 ms-auto me-2">
																	<p class="m-0 lang" data-lang="es"><%= ('disabled' in usersData[i]) ? 'Deshabilitado' : 'Habilitado' %></p>
																	<p class="m-0 lang" data-lang="en"><%= ('disabled' in usersData[i]) ? 'Disabled' : 'Enabled' %></p>
																</div>
															</div>
														</button>
													</h2>

													<div id="flush-all-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
														aria-labelledby="flush-all-<%= usersData[i]._id %>" data-bs-parent="#accordion-all">
														<div class="accordion-body">
															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Informaci贸n de puesto</span>
																			<span class="lang" data-lang="en">Position information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">rea</span>
																			<span class="lang" data-lang="en">Area</span>
																		</p>
																		<input value="<%= usersData[i].area %>" class="form-control <%= usersData[i]._id %>"
																			name="area" id="area-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Departamento</span>
																			<span class="lang" data-lang="en">Department</span>
																		</p>
																		<input value="<%= ('department' in usersData[i]) ? usersData[i].department : 'N.A.' %>" class="form-control <%= usersData[i]._id %>"
																			name="department" id="department-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6 mx-auto">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Carrera</span>
																			<span class="lang" data-lang="en">Career</span>
																		</p>
																		<input value="<%= ('career' in usersData[i]) ? usersData[i].career : 'N.A.' %>" class="form-control <%= usersData[i]._id %>"
																			name="career" id="career-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled/>
																	</div>
																</div>
															</div>

															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Otra informaci贸n</span>
																			<span class="lang" data-lang="en">More information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">ID Jefe directo</span>
																			<span class="lang" data-lang="en">ID manager</span>
																		</p>
																		<input value="<%= usersData[i].manager %>" class="form-control <%= usersData[i]._id %> <% if (usersData[i].level <= 1) { %> read-only <% } %>"
																			name="manager" id="manager-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Contrato</span>
																			<span class="lang" data-lang="en">Contract</span>
																		</p>
																		<input value="<%= usersData[i].contract %>" class="form-control <%= usersData[i]._id %>"
																			name="contract" id="contract-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled/>
																	</div>
																	<div class="my-1 col-md-4 col-6 mx-auto">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Nivel</span>
																			<span class="lang" data-lang="en">Level</span>
																		</p>
																		<input value="<%= usersData[i].level %>" class="form-control <%= usersData[i]._id %>"
																			name="level" id="level-<%= usersData[i]._id %>" data-class="user_info" type="number" max="5" min="1" disabled/>
																	</div>
																</div>
															</div>
															
															<% if('user_' in usersData[i]) { %>
															<div class="my-md-2 my-1 px-md-3 py-md-2 p-2 rounded-3">
																<div class="row">
																	<div class="col-12">
																		<h6 class="p-0 text-black-50 fs-5">
																			<span class="lang" data-lang="es">Informaci贸n de solo lectura</span>
																			<span class="lang" data-lang="en">Read-Only information</span>
																		</h6>
																	</div>

																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Creado</span>
																			<span class="lang" data-lang="en">Created</span>
																		</p>
																		<input value="<%= usersData[i].user_.created.date %>" class="form-control <%= usersData[i]._id %> read-only"
																			name="created" id="created-<%= usersData[i]._id %>" type="date" disabled/>
																	</div>
																	<div class="my-1 col-md-6 col-12">
																		<p class="text-mini-label m-0">
																			<span class="lang" data-lang="es">Ultimo inicio de sesi贸n</span>
																			<span class="lang" data-lang="en">Last login</span>
																		</p>
																		<input value="<%= usersData[i].user_.last_conn.date %>" class="form-control <%= usersData[i]._id %> read-only"
																			name="lastConn" id="lastConn-<%= usersData[i]._id %>" type="date" disabled/>
																	</div>
																</div>
															</div>
															<% } %>
															
															<div class="accordion accordion-flush mt-2" id="inner-accordions-<%= usersData[i]._id %>">

																<% if('eval_' in usersData[i]) { %>
																<!-- Evaluation information -->
																<div class="accordion-item">
																	<h2 class="accordion-header" id="flush-eval-<%= usersData[i]._id %>">
																		<button class="btn-outline-success accordion-button collapsed" type="button" data-bs-toggle="collapse"
																			data-bs-target="#flush-eval-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																			aria-controls="flush-eval-collapse-<%= usersData[i]._id %>">
																			<span class="lang" data-lang="es">Evaluaciones</span>
																			<span class="lang" data-lang="en">Evaluations</span>
																			
																		</button>
																	</h2>
																	<div id="flush-eval-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																		aria-labelledby="flush-eval-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-<%= usersData[i]._id %>">
																		<div class="accordion-body px-0">
																			<div class="row">
																			
																				<% if( Object.keys(usersData[i].eval_.records).length != 0) { %>
																				<% for(let year in usersData[i].eval_.records) { %>
																				<div class="my-1 col-md-6 col-12 accordion accordion-flush" id="user-eval-<%= year %>-<%= usersData[i]._id %>">
																					<div class="accordion-item">
																						<h2 class="accordion-header" id="user-flush-eval-<%= year %>-<%= usersData[i]._id %>">
																							<button class="btn-outline-success accordion-button collapsed" type="button" data-bs-toggle="collapse"
																							data-bs-target="#user-flush-eval-<%= year %>-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																							aria-controls="user-flush-eval-<%= year %>-collapse-<%= usersData[i]._id %>">
																							<span class="lang" data-lang="es">A帽o</span>
																							<span class="lang" data-lang="en">Year</span>: <span class="fw-bold me-1"><%= year %></span> 
																							</button>
																						</h2>
																						<div id="user-flush-eval-<%= year %>-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																							aria-labelledby="user-flush-eval-<%= year %>-<%= usersData[i]._id %>" data-bs-parent="#flush-eval-collapse-<%= usersData[i]._id %>">
																							<div class="accordion-body px-0">
																								<div class="row">
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Habilitado</span>
																											<span class="lang" data-lang="en">Enabled</span>
																										</p>
																										<div class="container ps-3">
																											<div class="button b2 mt-2 mb-2" id="button-17">
																												<input name="disabled" id="disabled-<%= year %>-<%= usersData[i]._id %>" type="checkbox"
																													class="checkbox <%= usersData[i]._id %> <%= (parseInt(year) != currYear) ? 'read-only' : '' %>"
																													data-class="evaluation" data-year="<%= year %>" <% if('disabled' in usersData[i].eval_.records[year]) { %> checked <% } %>
																													disabled>
																													<div class="knobs lang" data-lang="es" data-unchecked="S铆" data-checked="No"><span></span></div>
																													<div class="knobs lang" data-lang="en" data-unchecked="Yes" data-checked="No"><span></span></div>
																												<div class="layer"></div>
																											</div>
																										</div>
																									</div>
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Puntuaci贸n</span>
																											<span class="lang" data-lang="en">Score</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].score %>" class="form-control <%= usersData[i]._id %> read-only"
																											name="score" id="score-<%= year %>-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled>
																									</div>
																									<div class="my-1 col-md-4 col-6">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Respuestas</span>
																											<span class="lang" data-lang="en">Answers</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].answers %>" class="form-control <%= usersData[i]._id %> read-only"
																											name="answers" id="answers-<%= year %>-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled>
																									</div>

																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">rea</span>
																											<span class="lang" data-lang="en">Area</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].area %>" class="form-control <%= usersData[i]._id %> read-only"
																											name="area" id="area-<%= year %>-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled/>
																									</div>

																									<% if('department' in usersData[i].eval_.records[year]) { %>
																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Departamento</span>
																											<span class="lang" data-lang="en">Department</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].department %>" class="form-control <%= usersData[i]._id %> read-only"
																											name="department" id="department-<%= year %>-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled/>
																									</div>
																									<% } %>

																									<% if('career' in usersData[i].eval_.records[year]) { %>
																									<div class="my-1 col-md-4 col-6 mx-auto">
																										<p class="text-mini-label m-0">
																											<span class="lang" data-lang="es">Carrera</span>
																											<span class="lang" data-lang="en">Career</span>
																										</p>
																										<input value="<%= usersData[i].eval_.records[year].career %>" class="form-control <%= usersData[i]._id %> read-only"
																											name="career" id="career-<%= year %>-<%= usersData[i]._id %>" data-class="evaluation" data-year="<%= year %>" type="text" disabled/>
																									</div>
																									<% } %>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<% } } else { %>
																				<div class="col-12 text-center text-black-50">
																					<p class="fs-4">
																						<span class="lang" data-lang="es">No hay registros</span>
																						<span class="lang" data-lang="en">No records</span>
																					</p>
																				</div>
																				<% } %>

																			</div>
																		</div>
																	</div>
																</div>
																<% } %>
																
																<!-- Sensitive information -->
																<div class="accordion-item">
																	<h2 class="accordion-header" id="flush-sensitive-<%= usersData[i]._id %>">
																		<button class="btn-outline-warning accordion-button collapsed" type="button" data-bs-toggle="collapse"
																			data-bs-target="#flush-sensitive-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																			aria-controls="flush-sensitive-collapse-<%= usersData[i]._id %>">
																			<span class="lang" data-lang="es">Informaci贸n sensible</span>
																			<span class="lang" data-lang="en">Sensitive information</span>
																		</button>
																	</h2>
																	<div id="flush-sensitive-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																		aria-labelledby="flush-sensitive-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-<%= usersData[i]._id %>">
																		<div class="accordion-body px-0">
																			<div class="row">
																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Nombre(s)</span>
																						<span class="lang" data-lang="en">First Name</span>
																					</p>
																					<input value="<%= usersData[i].first_name %>" class="form-control <%= usersData[i]._id %>"
																						name="first_name" id="first-name-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled>
																				</div>
																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Apellido(s)</span>
																						<span class="lang" data-lang="en">Last Name</span>
																					</p>
																					<input value="<%= usersData[i].last_name %>" class="form-control <%= usersData[i]._id %>"
																						name="last_name" id="last-name-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled>
																				</div>

																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Calle</span>
																						<span class="lang" data-lang="en">Street</span>
																					</p>
																					<input value="<%= usersData[i].address.street %>" class="form-control <%= usersData[i]._id %> address"
																						name="street" id="street-<%= usersData[i]._id %>" data-class="user_info" type="text" disabled>
																				</div>
																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Numero</span>
																						<span class="lang" data-lang="en">Number</span>
																					</p>
																					<input value="<%= usersData[i].address.num %>" class="form-control <%= usersData[i]._id %> address"
																						name="num" id="number-<%= usersData[i]._id %>" data-class="user_info" type="number" maxlength="6" max="999999" min="0" disabled>
																				</div>
																				<div class="my-1 col-md-4 col-6">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">C贸digo postal</span>
																						<span class="lang" data-lang="en">Postal code</span>
																					</p>
																					<input value="<%= usersData[i].address.postal_code %>" class="form-control <%= usersData[i]._id %> address"
																						name="postal_code" id="pc-<%= usersData[i]._id %>" data-class="user_info" type="number" maxlength="5" max="99999" min="0" disabled>
																				</div>
																				
																				<div class="my-1 col-12">
																					<p class="text-mini-label m-0">
																						<span class="lang" data-lang="es">Fecha de nacimiento</span>
																						<span class="lang" data-lang="en">Birthday</span>
																					</p>
																					<input value="<%= usersData[i].b_day.date %>" class="form-control <%= usersData[i]._id %>"
																						name="b_day" id="bday-<%= usersData[i]._id %>" data-class="user_info" type="date" disabled>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>

																<!-- Danger Zone -->
																<div class="accordion accordion-flush mt-2" id="user-accordion-inner-<%= usersData[i]._id %>">
																	<div class="accordion-item">
																		<h2 class="accordion-header" id="danger-flush-<%= usersData[i]._id %>">
																			<button class="btn-outline-danger accordion-button collapsed" type="button" data-bs-toggle="collapse"
																				data-bs-target="#danger-flush-collapse-<%= usersData[i]._id %>" aria-expanded="false"
																				aria-controls="danger-flush-collapse-<%= usersData[i]._id %>">
																				<span class="lang" data-lang="es">Zona de peligro</span>
																				<span class="lang" data-lang="en">Danger zone</span>
																			</button>
																		</h2>
																		<div id="danger-flush-collapse-<%= usersData[i]._id %>" class="accordion-collapse collapse"
																			aria-labelledby="danger-flush-<%= usersData[i]._id %>" data-bs-parent="#inner-accordions-<%= usersData[i]._id %>">
																			<div class="accordion-body px-0">
																				<div class="row">
																					<div class="my-1 col-md-3 col-5 mx-auto">
																						<p class="text-mini-label m-0">
																							<span class="lang" data-lang="es">Habilitado</span>
																							<span class="lang" data-lang="en">Enabled</span>
																						</p>
																						<div class="container ps-3">
																							<div class="button b2 mt-2 mb-2" id="button-17">
																								<input name="disabled" id="disabled-<%= usersData[i]._id %>" type="checkbox"
																									data-class="user_all" class="checkbox <%= usersData[i]._id %>" <% if('disabled' in usersData[i]) { %> checked <% } %> disabled>
																									<div class="knobs lang" data-lang="es" data-unchecked="S铆" data-checked="No"><span></span></div>
																									<div class="knobs lang" data-lang="en" data-unchecked="Yes" data-checked="No"><span></span></div>
																								<div class="layer"></div>
																							</div>
																						</div>
																					</div>
																					<% if('user_' in usersData[i]) { %>
																					<div class="my-1 col-md-9 col-7">
																						<p class="text-mini-label m-0">
																							<span class="lang" data-lang="es">Contrase帽a</span>
																							<span class="lang" data-lang="en">Password</span>
																						</p>
																						<input value="What are you looking for sussy baka?? " class="form-control <%= usersData[i]._id %> mt-2"
																							name="pass" id="pass-<%= usersData[i]._id %>" data-class="user" type="password" autocomplete="new-password" disabled>
																					</div>
																					<% } %>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="w-100 text-right d-flex justify-content-end mt-2 pe-3">
																<button id="edit-<%= usersData[i]._id %>" data-id="<%= usersData[i]._id %>" class="btn-edit btn btn-secondary px-3 py-2">
																	<i class="pe-none pe-1 fa-solid fa-pen-to-square"></i>
																	<span class="pe-none lang" data-lang="es">Editar</span>
																	<span class="pe-none lang" data-lang="en">Edit</span>
																</button>
																<button id="cancel-<%= usersData[i]._id %>" data-id="<%= usersData[i]._id %>" class="btn-cancel btn btn-outline-danger px-3 py-2 me-2 d-none" disabled>
																	<i class="pe-none pe-1 fa-solid fa-ban"></i>
																	<span class="pe-none lang" data-lang="es">Cancelar</span>
																	<span class="pe-none lang" data-lang="en">Cancel</span>
																</button>
																<button id="save-<%= usersData[i]._id %>" data-id="<%= usersData[i]._id %>" class="btn-save btn btn-outline-dark px-3 py-2 d-none" disabled>
																	<i class="pe-none pe-1 fa-solid fa-floppy-disk"></i>
																	<span class="pe-none lang" data-lang="es">Guardar</span>
																	<span class="pe-none lang" data-lang="en">Save</span>
																</button>
															</div>
														</div>
													</div>
												</div>
												<% } %>
											</div>
											<% } else { %>
											<td id="empty" colspan="5" class="border-0 text-center">
												<div class="text-center">
													<i class="fa-solid fa-ghost icon-ghost f-vScreen-15 my-3 text-black-15"></i>
													<p class="my-2 text-ghost fs-4">
														<span class="lang" data-lang="es">No hay datos para mostrar</span>
														<span class="lang" data-lang="en">No records to show</span>
													</p>
												</div>
											</td>
											<% } %>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<%- include('../template/!scripts.ejs') %>
		<script src="/js/page-inator.js"></script>
		<script src="/js/secret/admin-ctrl.js"></script>
		<script src="/js/secret/register.js"></script>
	</body>
	
</html>
<% } else { %>
	<%- include('../template/!handler.ejs') %>
<% } %>