<% if(session) { %>
	<%- include('../template/!head.ejs') %>

	<body class="sb-nav-fixed" name="admin-ctrl">
	<%- include('../template/navbar.ejs') %>

		<div id="layoutSidenav">
		<%- include('../template/sidebar.ejs') %>

			<div id="layoutSidenav_content" >

				<%- include('../template/modalRegister.ejs') %>

				<div class="mb-5">
					<div class="container-fluid px-4">
						<div class="dynamic-title mt-4 vw-80 vw-lg-50">
							<h1 class="display-3 text-center pt-4">
								<span class="lang" data-lang="es">Inicio</span>
								<span class="lang" data-lang="en">Home</span>
							</h1>
							<p class="fs-5 text-center pb-4">
								<span class="lang" data-lang="es">Control Administrador</span>
								<span class="lang" data-lang="en">Admin Control</span>
							</p>
						</div>

						<div>
							<div class="container-fluid px-4 mb-4">
								<div class="help-bar container bg-dark text-light w-100 rounded-3">
									<div class="row flex-nowrap">
										<div class="col-lg-10 mx-auto text-center d-inline-flex my-2">
											<i class="fa-solid ms-3 me-2 my-auto fa-info-circle fa-2x blink"></i>
											<p class="d-flex fs-5 me-auto ms-2 my-2">
												<span class="lang my-auto" data-lang="es">
													Si deseas a침adir un usuario nuevo al sistema y ya tiene registros
													en la base de datos, haz click en <span class="fw-bold me-1">Registrar Personal</span>
													y marca la opci칩n <span class="fw-bold me-1">Buscar y crear usuario</span>.
													Busca su nombre o c칩digo y registra los datos.
												</span>
												<span class="lang my-auto" data-lang="en">
													If you want to add a new user to the system and he/she already has records in the 
													database, click on <span class="fw-bold me-1">Register Personal</span> and check the
													option <span class="fw-bold me-1">Search and create user</span>.
													Search the name or ID and send the data.
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel-button">
							<div class="container-fluid px-4 mb-4">
								<div class="help-bar container bg-dark text-light w-100 pe-2 pe-md-3 rounded-3">
									<div class="row flex-nowrap justify-content-evenly">
										<div class="col-5 col-md-3 col-lg-2 py-2">
											<button id="register-personnel" class="btn btn-outline-light text-center d-flex flex-column"
												data-bs-toggle="modal" data-bs-target="#register">
												<i class="fa-solid fa-plus fa-2x mx-auto"></i>
												<p class="m-0 mt-2">
													<span class="lang" data-lang="es">Registrar Personal</span>
													<span class="lang" data-lang="en">Register Personnel</span>
												</p>
											</button>
										</div>
										<div class="col-5 col-md-3 col-lg-2 py-2 align-self-center">
											<div class="dropdown">
												<button class="btn btn-outline-light text-center d-flex flex-column" type="button" id="drop-tables"
													data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-solid fa-angle-down fa-2x mx-auto"></i>
													<p class="m-0 mt-2">
														<span class="lang" data-lang="es">Cambiar tabla</span>
														<span class="lang" data-lang="en">Change table</span>
													</p>
												</button>
												<ul id="tables-opts" class="dropdown-menu" aria-labelledby="drop-tables">
													<li>
														<button class="dropdown-item" data-table="1">
															<span class="lang pe-none" data-lang="es">Registros de personal</span>
															<span class="lang pe-none" data-lang="en">Personnel records</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="2">
															<span class="lang pe-none" data-lang="es">Areas de adscripci칩n</span>
															<span class="lang pe-none" data-lang="en">Adscription areas</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="3">
															<span class="lang pe-none" data-lang="es">Direcciones / Subdirecciones</span>
															<span class="lang pe-none" data-lang="en">Directions / Sub-directions</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="4">
															<span class="lang pe-none" data-lang="es">Puestos</span>
															<span class="lang pe-none" data-lang="en">Positions</span>
														</button>
													</li>
													<li>
														<button class="dropdown-item" data-table="5">
															<span class="lang pe-none" data-lang="es">Categor칤as</span>
															<span class="lang pe-none" data-lang="en">Categories</span>
														</button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tables-container">
							
							<div id="collector" class="container-fluid mb-4 mx-auto w-lg-75 w-md-80 w-90">
								<div class="row mx-md-5">
									<div class="col-12 p-1 bg-dark rounded-3">
										<!-- -- -- -- -- -- Collections list -- -- -- -- -- -->
										<div class="container">
											<div class="row">
												<div class="col-1 col-md-2"></div>
												<div class="col text-center">
													<h2 class="py-2">
														<p class="px-3 py-2 m-0 badge bg-secondary fs-4 p-0 lang">游뛂</p>
													</h2>
												</div>
												<div class="col-1 col-md-2 d-flex">
													<button type="button" class="btn btn-light m-auto py-2 d-flex close-modal tooltip-text"
														id="reload-list" data-tooltip-es="Refrescar esta lista"
														data-tooltip-en="Refresh this list">
														<i class="fa-solid fa-arrow-rotate-right fs-5 my-auto"></i>
													</button>
												</div>
											</div>
										</div>
							
										<div class="bg-light rounded-3 m-0 p-0"> <!-- -- Accordion Collections -- -->
											<div class="accordion accordion-flush dynamic-paginator" id="collector-accordion"
												data-rows-shown="10, 15, 20"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('../template/!scripts.ejs') %>
		<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script src="/js/secret/admin-ctrl.js"></script>
		<script src="/js/dynamic-page-inator.js"></script>
		<script src="/js/secret/register.js"></script>
	</body>

</html>
<% } else { %>
	<%- include('../template/!handler.ejs') %>
<% } %>