<% if(session) { if(session.category <= 1) { %>
	<%- include('../template/!head.ejs') %>
	
	<body class="sb-nav-fixed">
		<%- include('../template/navbar.ejs') %>
	
		<div id="layoutSidenav">
			<%- include('../template/sidebar.ejs') %>
	
			<div id="layoutSidenav_content">                
				<div class="container">
					<div class="row mt-4">
						<div class="col-3"></div>
						<div id="bg-light" class="col-6">
							<h1 class="display-3 text-center my-5">Tester</h1>
						</div>
						<div class="col-3"></div>
					</div>
				</div>

				<div class="container mt-3 mb-5">
					<button id="d">download</button>
				</div>
			</div>
		</div>
	
		<%- include('../template/!scripts.ejs') %>
		<script src="/js/secret/test.js"></script>
	</body>
	
</html>
<% } } else { %>
	<%- include('../template/!handler.ejs') %>
<% } %>
