<% if (session) { if (session.lvl <= 1) { %>
    <%- include('../template/!head.ejs') %>
    
    <body class="sb-nav-fixed">
        <%- include('../template/navbar.ejs') %>
    
        <div id="layoutSidenav">
            <%- include('../template/sidebar.ejs') %>
    
            <div id="layoutSidenav_content">
                <div class="m-5">
                    <select id="test" class="dropdown" placeholder="Elige una opción">
                        <option>List entry #1</option>
                        <option>List entry #2</option>
                        <option>List entry #3</option>
                        <option>List entry #4</option>
                    </select>
                </div>
                
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div id="bg-light" class="col-6">
                            <h1 class="display-3 text-center my-5">Tester</h1>
                        </div>
                        <div class="col-3"></div>
                    </div>
    
                    <% if (false) { %>
                    <!--div class="row my-4 w-75 mx-auto">
                        <div class="col-12 rounded-sm shadow-sm bg-light">
                            <form method="POST" name="f-json" id="f-json" autocomplete="off">
                                <div class="row mb-3 d-flex justify-center">
                                    <div class="col text-center">
                                        <div class="form-floating mt-3 mb-md-0">
                                            <textarea class="form-control" name="data" id="data"></textarea>
                                            <label for="data">Text JSON</label>
                                        </div>

                                        <div class="row mt-5">
                                            <a href="javascript:senderSecret()">
                                                <button id="submit" class="mx-auto w-50 w-md-25 btn btn-primary btn-block" type="button">Enviar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div-->
                    <% } %>
                </div>

                <div class="container mt-3 mb-5">
                    <div class="row d-flex d-flex justify-content-center justify-content-lg-around">
                        <div class="col-lg-5 col-9 mb-3 mb-lg-0 rounded-sm shadow-sm bg-light h-max-content">
                            <h2 class="fs-3 my-3 text-ghost">User Infos</h2>
                            <div class="w-100 d-flex justify-center mb-3">
                                <button onclick="copyInfo(1)" class="btn btn-info mx-auto">
                                    <i class="fas fa-clipboard"></i> Copy User Info
                                </button>
                            </div>
                            <div class="container-overlay vh-50">
                                <code id="data-user-infos" class="my-3">
                                    <p class="m-0">[</p><% for(i in userInfos) { %><p class="ms-4 m-0"><%= JSON.stringify(userInfos[i], null, 1) %><% if (i != userInfos.length-1) {%>,<%}%></p><% } %><p class="m-0">]</p>
                                </code>
                            </div>
                        </div>
                        <div class="col-lg-5 col-9 mt-3 mt-lg-0 rounded-sm shadow-sm bg-light h-max-content">
                            <h2 class="fs-3 my-3 text-ghost">Users</h2>
                            <div class="w-100 d-flex justify-center mb-3">
                                <button onclick="copyInfo(2)" class="btn btn-info mx-auto">
                                    <i class="fas fa-clipboard"></i> Copy Users
                                </button>
                            </div>
                            <div class="container-overlay vh-50">
                                <code id="data-users" class="my-3">
                                    <p class="m-0">[</p><% for(i in users) { %><p class="ms-4 m-0"><%= JSON.stringify(users[i], null, 1) %><% if (i != users.length-1) {%>,<%}%></p><% } %><p class="m-0">]</p>
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
    
                <%- include('../template/!footer.ejs') %>
            </div>
        </div>
    
        <%- include('../template/!scripts.ejs') %>
        <script src="/js/secret/user-generator.js"></script>
    </body>
    
</html>
<% } } else { %>
    <%- include('../template/!handler.ejs') %>
<% } %>
