<%- include('../template/!head.ejs') %>

    <body class="sb-nav-fixed">
        <%- include('../template/navbar.ejs') %>

        <div id="layoutSidenav">
            <%- include('../template/sidebar.ejs') %>

            <div id="layoutSidenav_content">
                <div class="container mt-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <img class="mb-4 img-error" src="/img/error404.svg" />
                                <p class="lead">No se encontro la página que buscas.</p>
                                <a href="/inicio/">
                                    <button class="btn btn-warning">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Regresar a Inicio
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if(!session) { %>
            <%- include('../template/login.ejs') %>
        <% } %>

        <%- include('../template/!scripts.ejs') %>
    </body>

</html>
