<%- include('../template/!head.ejs') %>

    <body class="sb-nav-fixed">
        <%- include('../template/navbar.ejs') %>

        <div id="layoutSidenav">
            <%- include('../template/sidebar.ejs') %>

            <div id="layoutSidenav_content">
                <div class="container mt-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <img class="mb-4 img-error" src="/img/svg/error404.svg" />
                                <p class="lead">
                                    <span class="lang" data-lang="es">No se encontró la página que buscas</span>
                                    <span class="lang" data-lang="en">The page you are looking for was not found</span>
                                </p>
                                <a href="/inicio/">
                                    <button class="btn btn-warning">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        <span class="lang" data-lang="es">Regresar a Inicio</span>
                                        <span class="lang" data-lang="en">Return to Home</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if(!session) { %>
            <%- include('../template/login.ejs') %>
        <% } %>

        <%- include('../template/!scripts.ejs') %>
    </body>

</html>
