<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
<%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
    <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <main>
                <div class="session-container">
                    <input class="deletable" type="hidden" name="user" id="user"
                        value="<%= session.user %>">
                    <input class="deletable" type="hidden" name="name" id="name"
                        value="<%= session.name %>">
                    <input class="deletable" type="hidden" name="lvl" id="lvl"
                        value="<%= session.lvl %>">
                    
                    <input class="deletable" type="hidden" name="s-area" id="s-area"
                        value="<%= session.area %>">
                    <input class="deletable" type="hidden" name="s-department" id="s-department"
                        value="<%= session.department %>">
                    <input class="deletable" type="hidden" name="s-career" id="s-career"
                        value="<%= session.career %>">
                </div>

                <div class="container-fluid px-4">
                    <h1 class="display-1 text-center mt-4">Tablas</h1>
                    <div class="card mb-4 mt-4">
                        <div class="card-header d-flex">
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Categoria</th>
                                        <th>Puesto</th>
                                        <th>Status</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('template/!footer.ejs') %>
        </div>
    </div>

    <%- include('template/loading.ejs') %>
    <%- include('template/!scripts.ejs') %>
    <script src="/js/control.js"></script>
</body>

</html>
<% } else { %>
    <script>
        window.location.href = String(location.href).slice(0, 21+1)+"inicio/"
    </script>
<% } %>