<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
<%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
    <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <main>
                <div class="session-container">
                    <input class="deletable" type="hidden" name="user" id="user"
                        value="<%= session.user %>">
                    <input class="deletable" type="hidden" name="name" id="name"
                        value="<%= session.name %>">
                    <input class="deletable" type="hidden" name="lvl" id="lvl"
                        value="<%= session.lvl %>">
                    
                    <input class="deletable" type="hidden" name="s-area" id="s-area"
                        value="<%= session.area %>">
                    <input class="deletable" type="hidden" name="s-department" id="s-department"
                        value="<%= session.department %>">
                    <input class="deletable" type="hidden" name="s-career" id="s-career"
                        value="<%= session.career %>">
                </div>

                <div class="container-fluid px-4">
                    <h1 class="display-1 text-center mt-4">Tablas</h1>
                    <div class="container w-lg-75 w-90 mx-auto">
                        <table class="paginator table-effect border-0 table caption-top flex-table" class="w-75">
                            <thead>
                                <tr class="border-0 flex-th">
                                    <th class="border-0 border-bottom border-end flex-th">Usuario</th>
                                    <th class="border-0 border-bottom border-start flex-th">Nombre(s)</th>
                                    <th class="border-0 border-bottom border-start flex-th">Apellido(s)</th>
                                    <th class="border-0 border-bottom border-start flex-th">Status</th>
                                    <th class="border-0 border-bottom border-start flex-th">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="border-0" id="table-b">
                                <% if(records != false) { 
                                    for(var record in records) { %>
                                    <tr id="<%= records[record]._id %>" class="i-info" data-status="<%= records[record].area %>">
                                        <td class="border-0 border-end text-center"><%= records[record]._id %></td>
                                        <td class="border-0 border-start text-center"><%= records[record].first_name %></td>
                                        <td class="border-0 border-start text-center"><%= records[record].last_name %></td>
                                        <td class="border-0 border-start text-center i-status"></td>
                                        <td class="border-0 border-start d-flex justify-content-center h-100">
                                            <% if(records[record].area == 0) { %>
                                            <button title="go-to-survey" type="button" 
                                                onclick="go('<%= records[record]._id %>')" class="btn btn-info mx-md-2 my-auto mx-1 p-1 h-toolt">
                                                <i class="text-white fas fa-plus-circle fa-2x toolt-txt"
                                                    data-text="Realizar encuesta para <%= records[record].first_name %>"></i>
                                            </button>
                                            <% } else { %>
                                            <div class="fs-5 text-ghost">N/A</div>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% } } else { %>
                                <td id="empty" colspan="5" class="border-0 text-center">
                                    <div class="text-center">
                                        <i class="fas fa-ghost icon-ghost f-vScreen-15 my-3 text-black-15"></i>
                                        <p class="my-2 text-ghost fs-4">No hay datos para mostrar</p>
                                    </div>
                                </td>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <%- include('template/!footer.ejs') %>
        </div>
    </div>

    <%- include('template/!scripts.ejs') %>
    <script src="/js/control.js"></script>

    <script>
        $(document).ready(function(){
            $('.paginator').after('<div id="pag-ctrl"></div>');
            var rowsShown = 4;
            var rowsTotal = $('.paginator tbody tr').length;
            var numPages = rowsTotal/rowsShown;
            for(i = 0;i < numPages;i++) {
                var pageNum = i + 1;
                $('#pag-ctrl').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
            }
            $('.paginator tbody tr').hide();
            $('.paginator tbody tr').slice(0, rowsShown).show();
            $('#pag-ctrl a:first').addClass('active');
            $('#pag-ctrl a').bind('click', function(){

                $('#pag-ctrl a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('.paginator tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                        css('display','table-row').animate({opacity:1}, 300);
            });
        });

        //$(document).ready(function(){
        //    $('.paginator').after(`
        //        <div id="pag-ctrl" class="pagination mx-auto">
        //            <a href="#" rel="prev">&laquo;</a>
        //            <a href="#" rel="next">&raquo;</a>
        //        </div>
        //    `)
        //    var rowsShown = 4
        //    var rowsTotal = $('.paginator tbody tr').length
        //    var numPages = rowsTotal/rowsShown
//
        //    for(i=0; i<numPages; i++) {
        //        $('#pag-ctrl a[rel="next"]').before(`<a href="#" rel="${i}">${i+1}</a>`)
        //    }
//
        //    $('.paginator tbody tr').hide()
        //    $('.paginator tbody tr').slice(0, rowsShown).show()
        //    $('#pag-ctrl a[rel="prev"]').addClass('blocked')
        //    $('#pag-ctrl a[rel="0"]').addClass('active')
//
        //    $('#pag-ctrl a').bind('click', () => {
        //        $('#pag-ctrl a').removeClass('active')
        //        $(this).addClass('active')
        //        var currPage = $(this).attr('rel')
        //        console.log(currPage);
        //        var startItem = currPage * rowsShown
        //        var endItem = startItem + rowsShown
        //        $('.paginator tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
        //        css('display','table-row').animate({opacity:1}, 300)
        //    })
        //})
    </script>
</body>

</html>
<% } else { %>
    <%- include('template/!handler.ejs') %>
<% } %>