<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
<%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
    <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <div class="mb-5">
                <div class="session-container">
                    <input class="deletable" type="hidden" name="user" id="user"
                        value="<%= session.user%>">
                    <input class="deletable" type="hidden" name="name" id="name"
                        value="<%= session.first_name%>">
                    <input class="deletable" type="hidden" name="lvl" id="lvl"
                        value="<%= session.lvl%>">
                    
                    <input class="deletable" type="hidden" name="s-area" id="s-area"
                        value="<%= session['area']%>">
                    <input class="deletable" type="hidden" name="s-department" id="s-department"
                        value="<%= session.department%>">
                    <input class="deletable" type="hidden" name="s-career" id="s-career"
                        value="<%= session.career%>">
                </div>

                <div class="container-fluid px-4">
                    <div class="dynamic-title mt-4 vw-80 vw-lg-50">
                        <h1 class="display-3 text-center pt-4">
                            <span class="lang" data-lang="es">Inicio</span>
                            <span class="lang" data-lang="en">Home</span>
                        </h1>
                        <p class="fs-5 text-center pb-4">
                            <span class="lang" data-lang="es">Tabla de Estatus</span>
                            <span class="lang" data-lang="en">Status Table</span>
                        </p>
                    </div>

                    <div class="container w-lg-75 w-90 mx-auto table-responsive">
                        <table class="paginator table-effect border-0 table caption-top flex-table table align-middle" data-rows-shown="5, 10, 15">
                            <thead>
                                <tr class="border-0 flex-th">
                                    <th class="border-0 border-bottom border-end flex-th">
                                        <span class="lang" data-lang="es">Usuario</span>
                                        <span class="lang" data-lang="en">User</span>
                                    </th>
                                    <th class="border-0 border-bottom border-start flex-th">
                                        <span class="lang" data-lang="es">Nombre(s)</span>
                                        <span class="lang" data-lang="en">First Name</span>
                                    </th>
                                    <th class="border-0 border-bottom border-start flex-th">
                                        <span class="lang" data-lang="es">Apellido(s)</span>
                                        <span class="lang" data-lang="en">Last Name</span>
                                    </th>
                                    <th class="border-0 border-bottom border-start flex-th">
                                        <span class="lang" data-lang="es">Estatus</span>
                                        <span class="lang" data-lang="en">Status</span>
                                    </th>
                                    <th class="border-0 border-bottom border-start flex-th">
                                        <span class="lang" data-lang="es">Acciones</span>
                                        <span class="lang" data-lang="en">Actions</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="border-0" id="table-b">
                                <% if(records != false) {
                                    for(let record in records) { %>
                                    <tr id="<%=records[record]['_id']%>" class="i-info pag-item" data-status="<%=records[record]['records']%>">
                                        <td class="border-0 border-end text-center"><%=records[record]['_id'] %></td>
                                        <td class="border-0 border-start text-center"><%=records[record]['first_name'] %></td>
                                        <td class="border-0 border-start text-center"><%=records[record]['last_name'] %></td>
                                        <td class="border-0 border-start text-center i-status"></td>
                                        <td class="border-0 border-start d-flex justify-content-center h-100">
                                            <% if(records[record]['records'] == 0) { %>
                                                <button type="button"
                                                    class="btn btn-info evaluate mx-md-2 my-auto mx-1 p-1 tooltip-text"
                                                    data-tooltip-es="Realizar evaluación para <%=records[record]['first_name']%> <%=records[record]['last_name']%>"
                                                    data-tooltip-en="Perform evaluation for <%=records[record]['first_name']%> <%=records[record]['last_name']%>">
                                                    <i class="text-white pe-none fas fa-plus-circle fa-2x"></i>
                                                </button>
                                            <% } else { %>
                                                <button type="button" 
                                                    class="btn btn-success generate-pdf mx-md-2 my-auto mx-1 p-1 tooltip-text"
                                                    data-tooltip-es="Generar formato de evaluación para <%=records[record]['first_name']%> <%=records[record]['last_name']%>"
                                                    data-tooltip-en="Generate evaluation format for <%=records[record]['first_name']%> <%=records[record]['last_name']%>">
                                                    <i class="text-white pe-none mx-1 fas fa-file-pdf fa-2x"></i>
                                                </button>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% } } else { %>
                                <td id="empty" colspan="5" class="border-0 text-center">
                                    <div class="text-center">
                                        <i class="fas fa-ghost icon-ghost f-vScreen-15 my-3 text-black-15"></i>
                                        <p class="my-2 text-ghost fs-4">
                                            <span class="lang" data-lang="es">No hay datos para mostrar</span>
                                            <span class="lang" data-lang="en">No records to show</span>
                                        </p>
                                    </div>
                                </td>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('template/!scripts.ejs') %>
    <script src="/js/page-inator.js"></script>
    <script src="/js/ctrl-table.js"></script>
    <script src="/js/pdf-generator.js"></script>
</body>

</html>
<% } else { %>
    <%- include('template/!handler.ejs') %>
<% } %>
