<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
    <div id="noti" class="noti mx-auto w-25 d-flex flex-nowrap justify-content-center position-fixed"></div>

    <%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
        <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="display-2 text-center mt-4">Encuesta</h1>

                    <div class="container-fluid mt-4">
                        <div class="row">
                            <div class="col text-center">
                                <h5 class="mt-4">Nombre: </h5>
                                <h5 class="mt-4">Área: </h5>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mt-4">
                        <div class="row">
                            <table class="table caption-top flex-table">
                                <tr class="table-primary border-0">
                                    <th scope="col">
                                        <p>
                                            I. Cumplimiento de las Funciones Principales de su
                                            puesto acorde al perfil
                                        </p>
                                    </th>
                                    <th class="flex-th" scope="col">Deficiente</th>
                                    <th class="flex-th" scope="col">Regular</th>
                                    <th class="flex-th" scope="col">Bueno</th>
                                    <th class="flex-th" scope="col">Muy bueno</th>
                                </tr>
                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                1. Funciones principales del puesto
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="I-1">
                                            <input type="radio" name="P-I" class="super-sad" id="I-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="I-2">
                                            <input type="radio" name="P-I" class="sad" id="I-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="I-3">
                                            <input type="radio" name="P-I" class="happy" id="I-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="I-4">
                                            <input type="radio" name="P-I" class="super-happy" id="I-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table caption-top flex-table">
                                <tr class="table-primary border-0">
                                    <th scope="col">
                                        <div>
                                            <p>
                                                II. Grado de Cumplimiento en las competencias y/o
                                                habilidades definidas en el perfil de puestos
                                            </p>
                                        </div>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                2. Competencias y/o habilidades
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="II-1">
                                            <input type="radio" name="P-II" class="super-sad" id="II-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="II-2">
                                            <input type="radio" name="P-II" class="sad" id="II-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="II-3">
                                            <input type="radio" name="P-II" class="happy" id="II-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="II-4">
                                            <input type="radio" name="P-II" class="super-happy" id="II-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table caption-top flex-table">
                                <tr class="table-primary border-0">
                                    <th scope="col">
                                        <p>
                                            III. Grado de Cumplimiento y/o Participación en las
                                            lineas de acción establecidas en el POA de cada año
                                        </p>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                3. Líneas de acción de participación directa
                                                o indirecta del POA
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="III-1">
                                            <input type="radio" name="P-III" class="super-sad" id="III-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="III-2">
                                            <input type="radio" name="P-III" class="sad" id="III-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="III-3">
                                            <input type="radio" name="P-III" class="happy" id="III-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="III-4">
                                            <input type="radio" name="P-III" class="super-happy" id="III-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table caption-top flex-table">
                                <tr class="table-primary border-0">
                                    <th scope="col">
                                        <div>
                                            <p>
                                                IV. Grado de Cumplimiento en los indicadores
                                                establecidos en el SGC
                                            </p>
                                        </div>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                4. Indicadores del SGC con participación
                                                directa o indirecta
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="IV-1">
                                            <input type="radio" name="P-IV" class="super-sad" id="IV-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="IV-2">
                                            <input type="radio" name="P-IV" class="sad" id="IV-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="IV-3">
                                            <input type="radio" name="P-IV" class="happy" id="IV-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="IV-4">
                                            <input type="radio" name="P-IV" class="super-happy" id="IV-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table caption-top flex-table">
                                <tr class="table-primary border-0">
                                    <th scope="col">
                                        <div>
                                            <p>
                                                IV. Grado de cumplimiento con la normativa
                                                establecida
                                            </p>
                                        </div>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                5. Gestión de permisos para inasistencias,
                                                retardos, días económicos, vacaciones, etc.
                                                en tiempo y forma
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="V-1">
                                            <input type="radio" name="P-V" class="super-sad" id="V-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="V-2">
                                            <input type="radio" name="P-V" class="sad" id="V-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="V-3">
                                            <input type="radio" name="P-V" class="happy" id="V-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="V-4">
                                            <input type="radio" name="P-V" class="super-happy" id="V-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>

                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                6. Vestimenta según la normativa establecida
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VI-1">
                                            <input type="radio" name="P-VI" class="super-sad" id="VI-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VI-2">
                                            <input type="radio" name="P-VI" class="sad" id="VI-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VI-3">
                                            <input type="radio" name="P-VI" class="happy" id="VI-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VI-4">
                                            <input type="radio" name="P-VI" class="super-happy" id="VI-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>

                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                7. Participación activa en la capacitación a
                                                la que se le invita
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VII-1">
                                            <input type="radio" name="P-VII" class="super-sad" id="VII-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VII-2">
                                            <input type="radio" name="P-VII" class="sad" id="VII-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VII-3">
                                            <input type="radio" name="P-VII" class="happy" id="VII-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VII-4">
                                            <input type="radio" name="P-VII" class="super-happy" id="VII-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>
                                <tr class="table-light">
                                    <td scope="row">
                                        <div>
                                            <p>
                                                8. Cumplimiento de los reglamentos aplicables
                                            </p>
                                        </div>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VIII-1">
                                            <input type="radio" name="P-VIII" class="super-sad" id="VIII-1" value="1" />
                                            <i class="far fa-sad-tear fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VIII-2">
                                            <input type="radio" name="P-VIII" class="sad" id="VIII-2" value="2" />
                                            <i class="far fa-meh fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VIII-3">
                                            <input type="radio" name="P-VIII" class="happy" id="VIII-3" value="3" />
                                            <i class="far fa-smile fa-3x"></i>
                                        </label>
                                    </td>
                                    <td class="flex-td">
                                        <label for="VIII-4">
                                            <input type="radio" name="P-VIII" class="super-happy" id="VIII-4" value="4" />
                                            <i class="far fa-laugh-beam fa-3x"></i>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table caption-top flex-table">
                                <thead>
                                    <tr class="table-primary border-0">
                                        <th scope="col">
                                            <div>
                                                <p>
                                                    VI. Grado de participación en los
                                                    proyectos institucionales
                                                </p>
                                            </div>
                                        </th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr class="table-light">
                                        <td scope="row">
                                            <div>
                                                <p>
                                                    9. Participación en actividades que se
                                                    realizan en su dirección que coadyuvan
                                                    a cumplir objetivos institucionales
                                                </p>
                                            </div>
                                        </td>
                                        <td class="flex-td">
                                            <label for="IX-1">
                                                <input type="radio" name="P-IX" class="super-sad" id="IX-1" value="1" />
                                                <i class="far fa-sad-tear fa-3x"></i>
                                            </label>
                                        </td>
                                        <td class="flex-td">
                                            <label for="IX-2">
                                                <input type="radio" name="P-IX" class="sad" id="IX-2" value="2" />
                                                <i class="far fa-meh fa-3x"></i>
                                            </label>
                                        </td>
                                        <td class="flex-td">
                                            <label for="IX-3">
                                                <input type="radio" name="P-IX" class="happy" id="IX-3" value="3" />
                                                <i class="far fa-smile fa-3x"></i>
                                            </label>
                                        </td>
                                        <td class="flex-td">
                                            <label for="IX-4">
                                                <input type="radio" name="P-IX" class="super-happy" id="IX-4" value="4" />
                                                <i class="far fa-laugh-beam fa-3x"></i>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr class="table-light">
                                        <td scope="row">
                                            <div>
                                                <p>
                                                    10. Participación en actividades y/o eventos
                                                    que salen de su función pero que contribuyen
                                                    al quehacer institucional.(participación en
                                                    comités, capacitaciones, organización de
                                                    eventos, nombramientos especiales, etc.)
                                                </p>
                                            </div>
                                        </td>
                                        <td class="flex-td">
                                            <label for="X-1">
                                                <input type="radio" name="P-X" class="super-sad" id="X-1" value="1" />
                                                <i class="far fa-sad-tear fa-3x"></i>
                                            </label>
                                        </td>
                                        <td class="flex-td">
                                            <label for="X-2">
                                                <input type="radio" name="P-X" class="sad" id="X-2" value="2" />
                                                <i class="far fa-meh fa-3x"></i>
                                            </label>
                                        </td>
                                        <td class="flex-td">
                                            <label for="X-3">
                                                <input type="radio" name="P-X" class="happy" id="X-3" value="3" />
                                                <i class="far fa-smile fa-3x"></i>
                                            </label>
                                        </td>
                                        <td class="flex-td">
                                            <label for="X-4">
                                                <input type="radio" name="P-X" class="super-happy" id="X-4" value="4" />
                                                <i class="far fa-laugh-beam fa-3x"></i>
                                            </label>
                                        </td>
                                    </tr>
                            </table>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                                <button class="btn btn-success btn-lg mx-auto" type="button">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('template/!footer.ejs') %>
        </div>
    </div>

    <%- include('template/loading.ejs') %>

    <%- include('template/!scripts.ejs') %>
</body>

</html>
<% } else { %>
    <script>
        window.location.href = String(location.href).slice(0, 21+1)+"inicio/"
    </script>
<% } %>