<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
    <%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
    <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-5">
                    <% if(records.length > 0) { %>
                    <div class="dynamic-title">
                        <h1 class="display-2 text-center py-4">Encuesta</h1>
                    </div>

                    <div class="container-fluid my-5">
                        <div id="btnContainer" class="mb-5 text-end me-5">
                            <button id="list" class="mx-1 btn btn-view btn-secondary" onclick="listView()"><i class="fa fa-bars"></i> Lista</button> 
                            <button id="card" class="mx-1 btn btn-view btn-on" onclick="cardView()"><i class="fa fa-th-large"></i> Tarjetas</button>
                          </div>
                        <div class="d-flex flex-wrap justify-content-center">
                            <% for(var person in records) { %>
                            <div id="<%= records[person]._id %>" data-id="<%= records[person]._id %>" 
                                class="container card card-option w-md-25 mx-2 mb-4 shadow-sm border-0">
                                <div class="row mode card-mode">
                                    <div class="card-header border-0 d-flex justify-content-center"></div>
                                    <div class="card-body">
                                        <div class="columns row text-center">
                                            <div class="col-12">
                                                <p class="mx-2 mb-1 fs-5 text-card">
                                                    <span id="<%= records[person]._id %>-fname" data-fname="<%= records[person].first_name %>"
                                                        class="fw-bold">Nombre: </span><%= records[person].first_name %>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p class="mx-2 mb-1 fs-5 text-card">
                                                    <span id="<%= records[person]._id %>-area" data-info="<%= records[person].area %>"
                                                        class="fw-bold">Área: </span><%= records[person].area %>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p class="mx-2 mb-1 fs-5 text-card">
                                                    <span id="<%= records[person]._id %>-depa" data-info="<%= records[person].department %>"
                                                        class="fw-bold">Departamento: </span><%= records[person].department %>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p class="mx-2 mb-1 fs-5 text-card">
                                                    <span id="<%= records[person]._id %>-care" data-info="<%= records[person].career %>"
                                                        class="fw-bold">Carrera: </span><%= records[person].career %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>

                    <div class="container-fluid mt-4">
                        <form method="POST" name="f_survey" id="f_survey">                            
                            <input type="hidden" name="userObj" id="userObj" value="">
                            <input type="hidden" name="areaObj" id="areaObj" value="">
                            <input type="hidden" name="depaObj" id="depaObj" value="">
                            <input type="hidden" name="careObj" id="careObj" value="">

                            <div class="row">
                                <!-- class="table-responsive" -->
                                <table class="border-0 table caption-top flex-table">
                                    <tr class="border-0 table-header deactivated light" id="P-I">
                                        <th class="border-0" scope="col">
                                            <p class="m-0 px-4 text-justify">
                                                I. Cumplimiento de las Funciones Principales de su
                                                puesto acorde al perfil
                                            </p>
                                        </th>
                                        <th class="border-0 flex-th" scope="col">
                                            <p class="m-0">Deficiente</p>
                                        </th>
                                        <th class="border-0 flex-th" scope="col">
                                            <p class="m-0">Regular</p>
                                        </th>
                                        <th class="border-0 flex-th" scope="col">
                                            <p class="m-0">Bueno</p>
                                        </th>
                                        <th class="border-0 flex-th" scope="col">
                                            <p class="m-0">Muy bueno</p>
                                        </th>
                                    </tr>
                                    <tr class="border-0 table-light">
                                        <td class="border-0 " scope="row">
                                            <div class="d-flex">    
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    1. Funciones principales del puesto
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="I-1">
                                                <input type="radio" name="P-I" class="super-sad" id="I-1" value="1" />
                                                <i class="far fa-sad-tear fa-3x toolt-txt" data-text="Tiene conocimiento en las 
                                                    funciones de su puesto, sin embargo, no sabe realizar las acciones necesarias 
                                                    para lograr los resultados esperados. Requiere supervisión permanente debido 
                                                    a sus continuos errores."></i>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="I-2">
                                                <input type="radio" name="P-I" class="sad" id="I-2" value="2" />
                                                <i class="far fa-meh fa-3x toolt-txt" data-text="Sabe todo lo necesario sobre 
                                                    las funciones de su puesto y realiza algunas de las acciones necesarias sin 
                                                    embargo no logra los resultados esperados. Necesita frecuentemente supervisión.">
                                                </i>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="I-3">
                                                <input type="radio" name="P-I" class="happy" id="I-3" value="3" />
                                                <i class="far fa-smile fa-3x toolt-txt" data-text="Conoce todas las funciones de su 
                                                puesto y trabaja de manera correcta en cada una de ellas cumpliendo con la mayoría 
                                                de los resultados esperados."></i>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="I-4">
                                                <input type="radio" name="P-I" class="super-happy" id="I-4" value="4" />
                                                <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Cumple con todo lo 
                                                    requerido en las funciones de su puesto logrando los resultados esperados y 
                                                    además apoya en otras funciones que aun cuando no le corresponden reflejan 
                                                    una actitud proactiva. La supervisión que necesita solo es en casos 
                                                    especiales."></i>
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <table class="border-0 table caption-top flex-table">
                                    <tr class="border-0 table-header deactivated light" id="P-II">
                                        <th class="border-0" scope="col">
                                            <div class="">
                                                <p class="m-0 px-4 text-justify">
                                                    II. Grado de Cumplimiento en las competencias y/o
                                                    habilidades definidas en el perfil de puestos
                                                </p>
                                            </div>
                                        </th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                    </tr>
                                    <tr class="border-0 table-light">
                                        <td class="border-0" scope="row">
                                            <div class="d-flex">
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    2. Competencias y/o habilidades
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="II-1">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-II" class="super-sad" id="II-1" value="1" />
                                                    <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No cuenta con las 
                                                        competencias y/o habilidades que se requieren en el puesto. Es urgente que 
                                                        se le ayude a desarrollar la competencia requerida a través de la capacitación.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="II-2">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-II" class="sad" id="II-2" value="2" />
                                                    <i class="far fa-meh fa-3x toolt-txt" data-text="Cuenta con algunas de las competencias 
                                                        y/o habilidades requeridas para su puesto sin embargo necesita capacitación en dos 
                                                        o más areas para que pueda lograr los resultados esperados."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="II-3">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-II" class="happy" id="II-3" value="3" />
                                                    <i class="far fa-smile fa-3x toolt-txt" data-text="Cuenta con las competencias 
                                                        necesarias y adecuadas para desarrollar las funciones de su puesto. La capacitación 
                                                        que requiere solo es para mejorar el cumplimiento de los resultados.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="II-4">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-II" class="super-happy" id="II-4" value="4" />
                                                    <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Cumple con todas las competencias
                                                        y habilidades requeridos en su puesto lo cual lo lleva a lograr de manera satisfactoria 
                                                        los resultados esperados. La capacitación que requiere servirá solo como actualización e 
                                                        implementación de la mejora continua."></i>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <table class="border-0 table caption-top flex-table">
                                    <tr class="border-0 table-header deactivated light" id="P-III">
                                        <th class="border-0" scope="col">
                                            <p class="m-0 px-4 text-justify">
                                                III. Grado de Cumplimiento y/o Participación en las
                                                lineas de acción establecidas en el POA de cada año
                                            </p>
                                        </th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                    </tr>
                                    <tr class="border-0 table-light">
                                        <td class="border-0" scope="row">
                                            <div class="d-flex">
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    3. Líneas de acción de participación directa
                                                    o indirecta del POA
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="III-1">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-III" class="super-sad" id="III-1" value="1" />
                                                    <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No cumple con las funciones que le 
                                                        corresponde para el logro de la acción establecida en el POA">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="III-2">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-III" class="sad" id="III-2" value="2" />
                                                    <i class="far fa-meh fa-3x toolt-txt" data-text="Contribuye realizando de manera eficaz 
                                                        algunas actividades que llevan al cumplimiento de la acción establecida en el POA sin 
                                                        embargo estas no son suficientes para el grado de cumplimiento esperado.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="III-3">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-III" class="happy" id="III-3" value="3" />
                                                    <i class="far fa-smile fa-3x toolt-txt" data-text="Contribuye realizando de manera eficaz 
                                                        algunas actividades que llevan al cumplimiento de la acción establecida en el POA sin 
                                                        embargo estas no son suficientes para el grado de cumplimiento esperado.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="III-4">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-III" class="super-happy" id="III-4" value="4" />
                                                    <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Las funciones que realiza contribuyen
                                                        de manera clara y satisfactoria según lo establecido en las líneas de acción del POA">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <table class="border-0 table caption-top flex-table">
                                    <tr class="border-0 table-header deactivated light" id="P-IV">
                                        <th class="border-0" scope="col">
                                            <div class="">
                                                <p class="m-0 px-4 text-justify">
                                                    IV. Grado de Cumplimiento en los indicadores
                                                    establecidos en el SGC
                                                </p>
                                            </div>
                                        </th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                    </tr>
                                    <tr class="border-0 table-light">
                                        <td class="border-0" scope="row">
                                            <div class="d-flex">
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    4. Indicadores del SGC con participación
                                                    directa o indirecta
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="IV-1">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-IV" class="super-sad" id="IV-1" value="1" />
                                                    <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No cumple con las funciones que le 
                                                        corresponden lo que se ve reflejado en el incumplimiento de los indicadores del SGC.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="IV-2">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-IV" class="sad" id="IV-2" value="2" />
                                                    <i class="far fa-meh fa-3x toolt-txt" data-text="Aun cuando contribuye realizando algunas 
                                                        actividades estas no son lo suficientemente eficaces para que se llegue al cumplimiento 
                                                        de los indicadores del SGC.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="IV-3">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-IV" class="happy" id="IV-3" value="3" />
                                                    <i class="far fa-smile fa-3x toolt-txt" data-text="Las funciones que realiza son eficaces y 
                                                        contribuyen al cumplimiento de los indicadores del SGC.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 flex-td">
                                            <label class="m-0 h-toolt" for="IV-4">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-IV" class="super-happy" id="IV-4" value="4" />
                                                    <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Las funciones que realiza se consideran 
                                                        eficaces y cumple de manera satisfactoria con lo establecido en los indicadores del SGC. Se 
                                                        encuentra preparado para aportar funciones que lleven a la mejora continua.">
                                                    </i>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <table class="border-0 table caption-top flex-table">
                                    <tr class="border-0 table-header deactivated light" id="P-V">
                                        <th class="border-0" scope="col">
                                            <div class="">
                                                <p class="m-0 px-4 text-justify">
                                                    V. Grado de cumplimiento con la normativa
                                                    establecida
                                                </p>
                                            </div>
                                        </th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                        <th class="border-0" scope="col"></th>
                                    </tr>
                                    <tr class="border-0 table-light">
                                        <td class="border-0 border-bottom" scope="row">
                                            <div class="d-flex">
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    5. Gestión de permisos para inasistencias,
                                                    retardos, días económicos, vacaciones, etc.
                                                    en tiempo y forma
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="V-1">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-V" class="super-sad" id="V-1" value="1" />
                                                    <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No cumple con la normatividad.
                                                        En reiteradas ocasiones se ha llegado a amonestar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="V-2">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-V" class="sad" id="V-2" value="2" />
                                                    <i class="far fa-meh fa-3x toolt-txt" data-text="Aun cuando su incumplimiento a la 
                                                        normatividad no es total tiene muchos aspectos en los cuales mejorar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="V-3">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-V" class="happy" id="V-3" value="3" />
                                                    <i class="far fa-smile fa-3x toolt-txt" data-text="Cumple de manera satisfactoria con 
                                                        la normatividad. Puede mejorar algún aspecto"></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="V-4">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-V" class="super-happy" id="V-4" value="4" />
                                                    <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Cumple totalmente con la 
                                                        normatividad aplicable. Se puede considerar un empleado ejemplar."></i>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>

                                    <tr class="border-0 table-light">
                                        <td class="border-0 border-bottom" scope="row">
                                            <div class="d-flex">
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    6. Vestimenta según la normativa establecida
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VI-1">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VI" class="super-sad" id="VI-1" value="1" />
                                                    <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No cumple con la normatividad.
                                                        En reiteradas ocasiones se ha llegado a amonestar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VI-2">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VI" class="sad" id="VI-2" value="2" />
                                                    <i class="far fa-meh fa-3x toolt-txt" data-text="Aun cuando su incumplimiento a la 
                                                        normatividad no es total tiene muchos aspectos en los cuales mejorar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VI-3">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VI" class="happy" id="VI-3" value="3" />
                                                    <i class="far fa-smile fa-3x toolt-txt" data-text="Cumple de manera satisfactoria con 
                                                        la normatividad. Puede mejorar algún aspecto"></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VI-4">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VI" class="super-happy" id="VI-4" value="4" />
                                                    <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Cumple totalmente con la 
                                                        normatividad aplicable. Se puede considerar un empleado ejemplar."></i>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>

                                    <tr class="border-0 table-light">
                                        <td class="border-0 border-bottom" scope="row">
                                            <div class="d-flex">
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    7. Participación activa en la capacitación a
                                                    la que se le invita
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VII-1">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VII" class="super-sad" id="VII-1" value="1" />
                                                    <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No cumple con la normatividad.
                                                        En reiteradas ocasiones se ha llegado a amonestar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VII-2">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VII" class="sad" id="VII-2" value="2" />
                                                    <i class="far fa-meh fa-3x toolt-txt" data-text="Aun cuando su incumplimiento a la 
                                                        normatividad no es total tiene muchos aspectos en los cuales mejorar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VII-3">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VII" class="happy" id="VII-3" value="3" />
                                                    <i class="far fa-smile fa-3x toolt-txt" data-text="Cumple de manera satisfactoria con 
                                                        la normatividad. Puede mejorar algún aspecto"></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VII-4">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VII" class="super-happy" id="VII-4" value="4" />
                                                    <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Cumple totalmente con la 
                                                        normatividad aplicable. Se puede considerar un empleado ejemplar."></i>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr class="border-0 table-light">
                                        <td class="border-0 border-bottom" scope="row">
                                            <div class="d-flex">
                                                <p class="m-0 px-4 text-justify pe-1">
                                                    8. Cumplimiento de los reglamentos aplicables
                                                </p>
                                            </div>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VIII-1">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VIII" class="super-sad" id="VIII-1" value="1" />
                                                    <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No cumple con la normatividad.
                                                        En reiteradas ocasiones se ha llegado a amonestar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VIII-2">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VIII" class="sad" id="VIII-2" value="2" />
                                                    <i class="far fa-meh fa-3x toolt-txt" data-text="Aun cuando su incumplimiento a la 
                                                        normatividad no es total tiene muchos aspectos en los cuales mejorar."></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VIII-3">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VIII" class="happy" id="VIII-3" value="3" />
                                                    <i class="far fa-smile fa-3x toolt-txt" data-text="Cumple de manera satisfactoria con 
                                                        la normatividad. Puede mejorar algún aspecto"></i>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="border-0 border-bottom flex-td">
                                            <label class="m-0 h-toolt" for="VIII-4">
                                                <div class="tooltip-tb radio">
                                                    <input type="radio" name="P-VIII" class="super-happy" id="VIII-4" value="4" />
                                                    <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Cumple totalmente con la 
                                                        normatividad aplicable. Se puede considerar un empleado ejemplar."></i>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <table class="border-0 table caption-top flex-table">
                                    <thead>
                                        <tr class="border-0 table-header deactivated light" id="P-VI">
                                            <th class="border-0" scope="col">
                                                <div class="">
                                                    <p class="m-0 px-4 text-justify">
                                                        VI. Grado de participación en los
                                                        proyectos institucionales
                                                    </p>
                                                </div>
                                            </th>
                                            <th class="border-0" scope="col"></th>
                                            <th class="border-0" scope="col"></th>
                                            <th class="border-0" scope="col"></th>
                                            <th class="border-0" scope="col"></th>
                                        </tr>
                                        <tr class="border-0 table-light">
                                            <td class="border-0 border-bottom" scope="row">
                                                <div class="d-flex">
                                                    <p class="m-0 px-4 text-justify pe-1">
                                                        9. Participación en actividades que se
                                                        realizan en su dirección que coadyuvan
                                                        a cumplir objetivos institucionales
                                                    </p>
                                                </div>
                                            </td>
                                            <td class="border-0 border-bottom flex-td">
                                                <label class="m-0 h-toolt" for="IX-1">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-IX" class="super-sad" id="IX-1" value="1" />
                                                        <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No muestra ningún interés 
                                                            ni participación activa en algún proyecto institucional."></i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 border-bottom flex-td">
                                                <label class="m-0 h-toolt" for="IX-2">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-IX" class="sad" id="IX-2" value="2" />
                                                        <i class="far fa-meh fa-3x toolt-txt" data-text="Realiza pocas funciones que 
                                                            contribuyen a algún proyecto institucional sin embargo no se puede considerar 
                                                            una participación activa y comprometida."></i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 border-bottom flex-td">
                                                <label class="m-0 h-toolt" for="IX-3">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-IX" class="happy" id="IX-3" value="3" />
                                                        <i class="far fa-smile fa-3x toolt-txt" data-text="Tiene una participación 
                                                            satisfactoria y comprometida en proyectos institucionales"></i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 border-bottom flex-td">
                                                <label class="m-0 h-toolt" for="IX-4">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-IX" class="super-happy" id="IX-4" value="4" />
                                                        <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Participa de manera 
                                                            activa y comprometida en los proyectos institucionales que le son encomendados. 
                                                            Además tiene la creatividad para generar nuevos proyectos."></i>
                                                    </div>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr class="border-0 table-light">
                                            <td class="border-0" scope="row">
                                                <div class="d-flex">
                                                    <p class="m-0 px-4 text-justify pe-1">
                                                        10. Participación en actividades y/o eventos
                                                        que salen de su función pero que contribuyen
                                                        al quehacer institucional.(participación en
                                                        comités, capacitaciones, organización de
                                                        eventos, nombramientos especiales, etc.)
                                                    </p>
                                                </div>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="X-1">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-X" class="super-sad" id="X-1" value="1" />
                                                        <i class="far fa-sad-tear fa-3x toolt-txt" data-text="No muestra ningún interés 
                                                            ni participación activa en algún proyecto institucional."></i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="X-2">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-X" class="sad" id="X-2" value="2" />
                                                        <i class="far fa-meh fa-3x toolt-txt" data-text="Realiza pocas funciones que 
                                                            contribuyen a algún proyecto institucional sin embargo no se puede considerar 
                                                            una participación activa y comprometida."></i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="X-3">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-X" class="happy" id="X-3" value="3" />
                                                        <i class="far fa-smile fa-3x toolt-txt" data-text="Tiene una participación 
                                                            satisfactoria y comprometida en proyectos institucionales"></i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="X-4">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-X" class="super-happy" id="X-4" value="4" />
                                                        <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Participa de manera 
                                                            activa y comprometida en los proyectos institucionales que le son encomendados. 
                                                            Además tiene la creatividad para generar nuevos proyectos."></i>
                                                    </div>
                                                </label>
                                            </td>
                                        </tr>
                                </table>
                                
                                <table class="border-0 table caption-top flex-table">
                                    <thead>
                                        <tr class="border-0 table-header deactivated light" id="P-VII">
                                            <th class="border-0" scope="col">
                                                <div class="">
                                                    <p class="m-0 px-4 text-justify">
                                                        VII. Actitud
                                                    </p>
                                                </div>
                                            </th>
                                            <th class="border-0" scope="col"></th>
                                            <th class="border-0" scope="col"></th>
                                            <th class="border-0" scope="col"></th>
                                            <th class="border-0" scope="col"></th>
                                        </tr>
                                        <tr class="border-0 table-light">
                                            <td class="border-0" scope="row">
                                                <div class="d-flex">
                                                    <p class="m-0 px-4 text-justify pe-1">
                                                        11. Evalua la actitud
                                                    </p>
                                                </div>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="XI-1">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-XI" class="super-sad" id="XI-1" value="1" />
                                                        <i class="far fa-sad-tear fa-3x toolt-txt" data-text="Muestra descontento ante su 
                                                            labor diaria, ante los eventos que se generan en su área y/o en la institución, 
                                                            utiliza frecuentemente la crítica negativamente a su centro de trabajo.">
                                                        </i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="XI-2">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-XI" class="sad" id="XI-2" value="2" />
                                                        <i class="far fa-meh fa-3x toolt-txt" data-text="La mayor parte del tiempo muestra 
                                                            indiferencia y nulo interés en su labor diaria y/o en los eventos que se generan en 
                                                            su área y en la institución.">
                                                        </i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="XI-3">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-XI" class="happy" id="XI-3" value="3" />
                                                        <i class="far fa-smile fa-3x toolt-txt" data-text="Se muestra entusiasta y se preocupa en 
                                                            cumplir con sus funciones y con los eventos que se generan. Se preocupa y contribuye en 
                                                            el prestigio de la institución.">
                                                        </i>
                                                    </div>
                                                </label>
                                            </td>
                                            <td class="border-0 flex-td">
                                                <label class="m-0 h-toolt" for="XI-4">
                                                    <div class="tooltip-tb radio">
                                                        <input type="radio" name="P-XI" class="super-happy" id="XI-4" value="4" />
                                                        <i class="far fa-laugh-beam fa-3x toolt-txt" data-text="Se esfuerza por elevar los estándares 
                                                            en su labor diaria su actitud es claramente proactiva en beneficio total de su área y de 
                                                            la institución.">
                                                        </i>
                                                    </div>
                                                </label>
                                            </td>
                                        </tr>
                                </table>

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                                    <a href="javascript:postSurvey()" class="m-0 p-0 mx-auto">
                                        <button class="btn btn-success btn-lg mx-auto" type="button">Enviar</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <% } else { %>
                    <div class="my-e-void d-flex flex-nowrap justify-content-center">
                        <div class="container ">
                            <div class="row">
                                <h1 class="fs-1 text-center text-ghost">No hay nadie para evaluar</h1>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <i class="fas fa-search f-vScreen-15 my-3 text-black-15"></i>
                                </div>
                            </div>
                            <div class="row">
                                <p class="fs-4 px-5 text-center text-black-50">Intentemos regresar aqui de nuevo dentro de un rato</p>
                            </div>

                        </div>
                    </div>
                    <% } %>
                </div>
            </main>
            
        <%- include('template/!footer.ejs') %>
        </div>
    </div>


    <%- include('template/!scripts.ejs') %>
    <script src="/js/encuesta.js"></script>
</body>

</html>
<% } else { %>
    <%- include('template/!handler.ejs') %>
<% } %>
