<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
<%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
    <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <div>
                <input type="hidden" id="input_first_name" value="<%= session.first_name %>">
                <input type="hidden" id="input_last_name" value="<%= session.last_name %>">
            </div>

            <div class="mb-3">
                <div class="container-fluid px-4">
                    <div class="container">
                        <div class="dynamic-title mt-4 mb-0 vw-80 vw-lg-50">
                            <h1 class="display-3 text-center pt-3 pb-5">
                                <span class="lang" data-lang="es">Metricas</span><span class="lang" data-lang="en">Metrics</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 bg-ligth-gray">
                <div class="row w-100 w-lg-90 my-3">
                    <div class="w-auto d-flex ms-2 me-lg-5 ms-lg-4 pe-lg-5">
                        <h2 class="display-6 text-center my-auto" data-time="<%= hour %>">
                            <%= salutation %>
                        </h2>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end my-4 pe-5">
                            <button id="btn-pdf-report" class="btn btn-download text-center d-flex flex-column mx-3">
                                <span class="w-100">
                                    <i class="fas fa-file-download fa-3x"></i>
                                </span>
                                <span class="w-100 mt-2">
                                    <span class="lang" data-lang="es">Descargar Reporte</span>
                                    <span class="lang" data-lang="en">Download Report</span>
                                    
                                </span>
                            </button>
                            <button id="addPanel" class="btn btn-add-panel text-center d-flex flex-column mx-3">
                                <span class="w-100">
                                    <i class="fas fa-plus fa-3x"></i>
                                </span>
                                <span class="w-100 mt-2">
                                    <span class="lang" data-lang="es">Agregar panel</span>
                                    <span class="lang" data-lang="en">Add Panel</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="container-fluid px-4">
                    <div class="help-bar bg-dark text-light w-100 rounded-3">
                        <div class="d-flex justify-content-center">
                            <div class="w-80 w-md-50 text-center d-inline-flex my-2">
                                <i class="fas ms-auto me-2 my-auto fa-info-circle fa-2x blink"></i>
                                <p class="fs-5 me-auto ms-2 my-2">
                                    <span class="lang" data-lang="es">
                                        <span class="fw-bold me-1">Pequeño tip:</span> Si deseas comparar áreas y demás,
                                        basta con solo agregar un nuevo panel y configurar lo que quieres ver. ¡Sencillísimo!
                                    </span>
                                    <span class="lang" data-lang="en">
                                        <span class="fw-bold me-1">Little tip:</span> If you want to compare areas and so on, 
                                        just add a new panel and configure what you want to see. Very simple!
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <div class="container-fluid px-4">
                    <div id="panelContainer" class="row m-0 my-4 mx-auto justify-content-center"> <!-- Row div container for the report panels -->
                        <div class="col-12 col-lg-6 panel my-3" data-id="0">
                            <div class="shadow-lg rounded-2 buttons-container">
                                <div class="row justify-content-start">
                                    <button class="btn canvas-remove m-0 ms-5 mt-4 p-1 w-auto position-absolute">
                                        <i class="fas fa-times fa-2x pointer-event-none mx-1"></i>
                                    </button>
                                </div>
                                <div class="row justify-content-end">
                                    <button class="btn canvas-config m-0 me-5 mt-4 p-1 w-auto position-absolute tooltip-text rot-20"
                                        data-tooltip-es="Desplegar opciones para este panel">
                                        <i class="fas fa-cog fa-2x MOVE-TXT-TOOLTIP pointer-event-none"></i>
                                    </button>
                                    <div class="config-menu d-none position-absolute w-md-30 w-40 bg-light rounded-2 shadow-sm py-3 mt-6 me-5">
                                        <div class="container m-0 p-0">
                                            <div class="row">
                                                <div class="col-md-6 col-12 mx-auto my-1">
                                                    <div class="form-floating">
                                                        <select class="form-select area" id="sel-area" name="sel-area" aria-label="Selección">
                                                            <option class="are-s" value="0" data-lang="es" selected>Personal a cargo</option>
                                                            <option class="are-s" value="0" data-lang="en" selected>Personnel in charge</option>
                                                            <% for(let a in area) { %>
                                                                <option class="are" value="<%= area[a]['n'] %>"> 
                                                                    <%= area[a]['desc'] %> 
                                                                </option>
                                                            <% } %>
                                                        </select>
                                                        <label for="sel-area">
                                                            <span class="lang" data-lang="es">Área</span>
                                                            <span class="lang" data-lang="en">Area</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mx-auto my-1">
                                                    <div class="form-floating">
                                                        <select class="form-select subordinates" id="sel-subordinates" name="sel-subordinates" aria-label="Selección">
                                                            <option class="sub-s" data-index="0" value="0" selected data-lang="es">-Selecciona personal-</option>
                                                            <option class="sub-s" data-index="0" value="0" selected data-lang="en">-Select personnel-</option>
                                                            <% for(let s in subordinates) { %>
                                                                <option class="sub" data-index="<%= parseInt(s)+1 %>" value="<%= subordinates[s]['_id'] %>"> 
                                                                    <%= subordinates[s]['first_name'] %> <%= subordinates[s]['last_name'] %>
                                                                </option>
                                                            <% } %>
                                                        </select>
                                                        <label for="sel-subordinates">
                                                            <span class="lang" data-lang="es">Personal</span>
                                                            <span class="lang" data-lang="en">Personnel</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mx-auto my-1">
                                                    <div class="form-floating">
                                                        <select class="form-select department" id="sel-department" name="sel-department" aria-label="Selección" disabled>
                                                            <option class="dep-s" value="0" selected data-lang="es">-Selecciona departamento-</option>
                                                            <option class="dep-s" value="0" selected data-lang="en">-Select department-</option>
                                                            <% for(let d in depa) { %>
                                                                <option class="dep" data-area="<%= depa[d]['area'] %>" value="<%= depa[d]['n'] %>">
                                                                    <%= depa[d]['desc'] %>
                                                                </option>
                                                            <% } %>
                                                        </select>
                                                        <label for="sel-department">
                                                            <span class="lang" data-lang="es">Departamento</span>
                                                            <span class="lang" data-lang="en">Department</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mx-auto my-1">
                                                    <div class="form-floating">
                                                        <select class="form-select career" id="sel-career" name="sel-career" aria-label="Selección" disabled>
                                                            <option class="car-s" value="0" selected data-lang="es">-Selecciona carrera-</option>
                                                            <option class="car-s" value="0" selected data-lang="en">-Select career-</option>
                                                            <% for(let c in care) { %>
                                                                <option class="car" data-depa="<%= care[c]['department'] %>" value="<%= care[c]['n'] %>">
                                                                    <%= care[c]['desc'] %>
                                                                </option>
                                                            <% } %>
                                                        </select>
                                                        <label for="sel-career">
                                                            <span class="lang" data-lang="es">Carrera</span>
                                                            <span class="lang" data-lang="en">Career</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row px-md-2 px-xl-4 pb-3">
                                    <div class="col-12 px-md-2 px-xl-4">
                                        <div class="lienzos container">
                                            <div class="row">
                                                <div class="col-12 mt-4">
                                                    <h5 class="text-center display-6 text-uppercase canvasTitle">
                                                        <span class="lang" data-lang="es">Personal a cargo</span>
                                                        <span class="lang" data-lang="en">Personnel</span>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="row px-5 mx-3 canvas-container semiDoughnutChart">
                                                <canvas width="100%" height="100%"></canvas>
                                            </div>
                                            <div class="row canvas-container barsChart">
                                                <canvas width="100%" height="50%"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('template/!scripts.ejs') %>
    <script src="/js/metrics.js"></script>
    <script src="/js/pdf-generator.js"></script>
</body>

</html>
<% } else { %>
    <%- include('template/!handler.ejs') %>
<% } %>