<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
<%- include('template/navbar.ejs') %>

	<div id="layoutSidenav">
	<%- include('template/sidebar.ejs') %>

		<div id="layoutSidenav_content">
			<div>
				<input type="hidden" id="input_name" value="<%= session.name %>">
			</div>

			<% if('super' in session) { %>
				<%- include('template/modalMetrics.ejs') %>
			<% } %>

			<div class="mb-3">
				<div class="container-fluid px-4">
					<div class="container">
						<div class="dynamic-title mt-4 mb-0 vw-80 vw-lg-50">
							<h1 class="display-3 text-center pt-3 pb-5">
								<span class="lang" data-lang="es">Métricas</span><span class="lang" data-lang="en">Metrics</span>
							</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="mb-5 bg-ligth-gray">
				<div class="row w-100 w-lg-90 my-3">
					<div class="w-auto d-flex ms-2 me-lg-5 ms-lg-4 pe-lg-5">
						<h2 class="display-6 text-center my-auto">
							<span class="lang" data-lang="es">Controles</span>
							<span class="lang" data-lang="en">Controls</span>
						</h2>
					</div>
					<div class="col">
						<div class="d-flex justify-content-end my-4 pe-5">
							<button id="btn-mono-report" class="btn btn-download text-center d-flex flex-column mx-3">
								<span class="w-100">
									<i class="fa-solid fa-file-download fa-3x"></i>
								</span>
								<span class="w-100 mt-2">
									<span class="lang" data-lang="es">Descargar Reporte</span>
									<span class="lang" data-lang="en">Download Report</span>
								</span>
							</button>
							<% if('super' in session) { %>
								<button class="btn btn-download text-center d-flex flex-column mx-3"
									data-bs-toggle="modal" data-bs-target="#modalSelector">
									<span class="w-100">
										<i class="fa-solid fa-file-excel fa-3x"></i>
									</span>
									<span class="w-100 mt-2">
										<span class="lang" data-lang="es">Reporte Completo</span>
										<span class="lang" data-lang="en">Complete Report</span>
									</span>
								</button>
							<% } %>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="container-fluid px-4">
					<div class="help-bar bg-dark text-light w-100 rounded-3">
						<div class="d-flex justify-content-center">
							<div class="w-80 w-md-50 text-center d-inline-flex my-2">
								<i class="fa-solid ms-auto me-2 my-auto fa-info-circle fa-2x blink"></i>
								<p class="fs-5 me-auto ms-2 my-2">
									<span class="lang" data-lang="es">
										<span class="fw-bold me-1">Pequeño tip:</span> Si deseas comparar áreas y demás,
										basta con solo agregar un nuevo panel haciendo clic en el botón del fondo y configurar
										lo que quieres ver. ¡Sencillísimo!
									</span>
									<span class="lang" data-lang="en">
										<span class="fw-bold me-1">Little tip:</span>If you want to compare areas and so on,
										just add a new panel by clicking on the button at the bottom and set up what you want
										to see. Very simple!
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="mb-5">
				<div class="container-fluid px-4">
					<div id="panelContainer" class="row m-0 my-4 mx-auto justify-content-center"> <!-- Row div container for the report panels -->
						<div class="col-12 col-lg-6 col-xxl-4 panel my-3" data-id="0">
							<div class="shadow-lg rounded-2 buttons-container">
								<div class="row justify-content-end">
									<div class="config-menu d-none position-absolute w-md-30 w-40 rounded-2 shadow-lg py-3 mt-6 me-5">
										<div class="container m-0 p-0">
											<div class="row">
												<div class="col-md-6 col-12 mx-auto my-1">
													<div class="form-floating">
														<select class="form-select areas" id="sel-area" name="sel-area" aria-label="Selección">
															<option class="area-def" value="0" selected data-lang="es">Selecciona área</option>
															<option class="area-def" value="0" selected data-lang="en">Select area</option>
															<% for(let a in areas) { %>
																<option class="area" value="<%= areas[a]['_id'] %>">
																	<%= areas[a]['description'][session.lang] %>
																</option>
															<% } %>
														</select>
														<label for="sel-area">
															<span class="lang" data-lang="es">Área</span>
															<span class="lang" data-lang="en">Area</span>
														</label>
													</div>
												</div>
												<div class="col-md-6 col-12 mx-auto my-1">
													<div class="form-floating">
														<select class="form-select directorates" id="sel-directorate" name="sel-directorate" aria-label="Selección">
															<option class="directorate-def" value="0" selected data-lang="es">Selecciona dirección</option>
															<option class="directorate-def" value="0" selected data-lang="en">Select directorate</option>
															<% for(let d in directorates) { %>
																<option class="directorate" value="<%= directorates[d]['_id'] %>">
																	<%= directorates[d]['description'][session.lang] %>
																</option>
															<% } %>
														</select>
														<label for="sel-directorate">
															<span class="lang" data-lang="es">Dirección</span>
															<span class="lang" data-lang="en">Directorate</span>
														</label>
													</div>
												</div>
												<div class="col-md-6 col-12 mx-auto my-1">
													<div class="form-floating">
														<select class="form-select subordinates" id="sel-subordinates" name="sel-subordinates"
															aria-label="Selección">
															<option class="sub-def" value="0" data-lang="es" selected>Personal a cargo</option>
															<option class="sub-def" value="0" data-lang="en" selected>Personnel in charge</option>
															<% for(let s in subordinates) { %>
																<option class="sub" data-index="<%= parseInt(s)+1 %>" value="<%= subordinates[s]['_id'] %>">
																	<%= subordinates[s].position.description[session.lang] %>
																</option>
															<% } %>
														</select>
														<label for="sel-subordinates">
															<span class="lang" data-lang="es">Personal</span>
															<span class="lang" data-lang="en">Personnel</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row px-md-2 px-xl-4 pb-3">
									<div class="col-12 px-md-2 px-xl-4">
										<div class="lienzos container">
											<div class="row">
												<div class="col-2 col-md-1 p-0 m-0">
													<button class="btn canvas-remove m-0 mt-3 p-1 w-auto position-absolute tooltip-text"
														data-tooltip-es="Remover este panel"
														data-tooltip-en="Remove this panel">
														<i class="fa-solid fa-times fa-2x pointer-event-none mx-1"></i>
													</button>
												</div>

												<div class="col-8 col-md-10 mt-4">
													<h5 class="text-center fs-4 text-uppercase canvasTitle lang"
														data-lang="es">Personal a cargo</h5>
													<h5 class="text-center fs-4 text-uppercase canvasTitle lang"
														data-lang="en">Personnel</h5>
												</div>

												<div class="col-2 col-md-1 p-0 m-0">
													<button class="btn canvas-config mt-3 tooltip-text rot-20"
														data-tooltip-es="Desplegar opciones para este panel"
														data-tooltip-en="Display options for this panel">
														<i class="fa-solid fa-cog fa-2x pointer-event-none"></i>
													</button>
												</div>
											</div>
											<div class="row p-0 m-0">
												<p id="lbl-name" class="col-12 p-0 m-0 text-center"></p>
											</div>
											<div class="row canvas-container semiDoughnutChart">
												<canvas width="100%" height="100%"></canvas>
											</div>
											<div class="row canvas-container lineChart">
												<canvas width="100%" height="50%"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<button id="addPanel" class="btn btn-add-panel text-center d-flex flex-column">
							<span class="w-100">
								<i class="fa-solid fa-plus fa-3x"></i>
							</span>
							<span class="w-100 mt-2">
								<span class="lang" data-lang="es">Agregar Panel</span>
								<span class="lang" data-lang="en">Add Panel</span>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('template/!scripts.ejs') %>
	<script src="/js/metrics.js"></script>
</body>

</html>
<% } else { %>
	<%- include('template/!handler.ejs') %>
<% } %>