<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
<%- include('template/navbar.ejs') %>

	<div id="layoutSidenav">
	<%- include('template/sidebar.ejs') %>

		<div id="layoutSidenav_content">
			<div>
				<input type="hidden" id="input_name" value="<%= session.name %>">
			</div>

			<% if('super' in session) { %>
			<div id="modalSelector" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">
								<span class="lang" data-lang="es">Generar Reporte</span>
								<span class="lang" data-lang="en">Generate Report</span>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body container">
							<div class="row mb-3">
								<div class="col-12">
									<p class="text-center m-0">
										<span class="lang" data-lang="es">Los campos obligatorios aparecen marcados con un </span>
										<span class="lang" data-lang="en">Required fields are marked with a </span>
										<span class="text-danger ps-2"><i class="fa-solid fa-asterisk"></i></span>
									</p>
								</div>
								<div class="col-12">
									<p class="text-center m-0">
										<span class="lang fs-5" data-lang="es">
											Verifica que las direcciones correspondan con la
											información obtenida de la base de datos, de lo
											contrario puedes elegir la dirección correcta.
										</span>
										<span class="lang fs-5" data-lang="en">
											Verify that the directorate correspond to the information
											information obtained from the database, otherwise
											you can choose the correct otherwise you can choose
											the correct directorate.
										</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="accordion" id="accordionMetrics">
									<div class="accordion-item">
										<h2 class="accordion-header" id="h-1">
											<button class="accordion-button" type="button" data-bs-toggle="collapse"
												data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
											<span class="lang" data-lang="es">Evaluación por Direcciones</span>
											<span class="lang" data-lang="en">Evaluation by Directorates</span>
											</button>
										</h2>
										<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="h-1"
											data-bs-parent="#accordionMetrics">
											<div class="accordion-body pt-3 row">
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="rectory" id="rectory"
															data-prefer="1">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="rectory">
															<span class="lang" data-lang="es">Rectoría</span>
															<span class="lang" data-lang="en">Rectory</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="daf" id="daf"
															data-prefer="4">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="daf">
															<span class="lang" data-lang="es">Dirección de administración y finanzas</span>
															<span class="lang" data-lang="en">Administration and Finance Management</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="sa" id="sa"
															data-prefer="2">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="sa">
															<span class="lang" data-lang="es">Secretaría Académica</span>
															<span class="lang" data-lang="en">Academic Secretariat</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="dpei" id="dpei"
															data-prefer="7">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="dpei">
															<span class="lang" data-lang="es">Dirección de Planeación y Evaluación institucional</span>
															<span class="lang" data-lang="en">Directorate of Institutional Planning and Evaluation</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="dpceu" id="dpceu"
															data-prefer="5">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="dpceu">
															<span class="lang" data-lang="es">Dirección de Promoción, Comunicación y Extensión Universitaria</span>
															<span class="lang" data-lang="en">Promotion, Communication and University Extension Directorate</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="aac" id="aac"
															data-prefer="14">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="aac">
															<span class="lang" data-lang="es">Académica de Administración y Contaduría</span>
															<span class="lang" data-lang="en">Academic Administration and Accounting</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="ati" id="ati"
															data-prefer="11">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="ati">
															<span class="lang" data-lang="es">Académica de Tecnologías de la Información</span>
															<span class="lang" data-lang="en">Academic of Information Technologies</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory directorate" data-class="directorates" name="aadnm" id="aadnm"
															data-prefer="9">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="aadnm">
															<span class="lang" data-lang="es">Académica de Agricultura y DNM</span>
															<span class="lang" data-lang="en">Academic of Agriculture and DNM</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3 mx-auto">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 directorate" data-class="directorates" name="dai" id="dai">
														<% for(let dir in directorates) { %>
															<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
														<% } %>
														</select>
														<label for="dai">
															<span class="lang" data-lang="es">Dirección Académica de Ingenierías</span>
															<span class="lang" data-lang="en">Academic directorate of Engineering</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<h2 class="accordion-header" id="h-2">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
												<span class="lang" data-lang="es">Evaluación por Áreas</span>
												<span class="lang" data-lang="en">Evaluation by Areas</span>
											</button>
										</h2>
										<div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="h-2"
											data-bs-parent="#accordionMetrics">
											<div class="accordion-body row">
												<div class="col-12">
													<h6 class="text-center mb-3">
														<span class="fw-bold" data-lang="es">Busca y selecciona el nombre del jefe de cada area</span>
														<span class="fw-bold" data-lang="en">Search and select the manager's name of each area</span>
													</h6>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="rectory" id="rectory-1" data-id="">
														<label for="rectory-1">
															<span class="lang" data-lang="es">Rectoría</span>
															<span class="lang" data-lang="en">Rectory</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="ld" id="ld" data-id="">
														<label for="ld">
															<span class="lang" data-lang="es">Dirección De Vinculación</span>
															<span class="lang" data-lang="en">Liaison Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="juridical" id="juridical" data-id="">
														<label for="juridical">
															<span class="lang" data-lang="es">Jurídico</span>
															<span class="lang" data-lang="en">Juridical</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="lil" id="lil" data-id="">
														<label for="lil">
															<span class="lang" data-lang="es">Logística y Enlace Institucional</span>
															<span class="lang" data-lang="en">Logistics and Institutional Liaison</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="accounting" id="accounting" data-id="">
														<label for="accounting">
															<span class="lang" data-lang="es">Departamento de Contabilidad</span>
															<span class="lang" data-lang="en">Accounting Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="afd" id="afd" data-id="">
														<label for="afd">
															<span class="lang" data-lang="es">Dirección de Administración y Finanzas</span>
															<span class="lang" data-lang="en">Administration and Finance Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="pbd" id="pbd" data-id="">
														<label for="pbd">
															<span class="lang" data-lang="es">Departamento de Programación y Presupuesto</span>
															<span class="lang" data-lang="en">Programming and Budget Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="procurement" id="procurement" data-id="">
														<label for="procurement">
															<span class="lang" data-lang="es">Departamento De Adquisiciones</span>
															<span class="lang" data-lang="en">Procurement Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="administrative" id="administrative" data-id="">
														<label for="administrative">
															<span class="lang" data-lang="es">Servicios Administrativos</span>
															<span class="lang" data-lang="en">Administrative Services</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="hcd" id="hcd" data-id="">
														<label for="hcd">
															<span class="lang" data-lang="es">Departamento de Capital Humano</span>
															<span class="lang" data-lang="en">Human Capital Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="id" id="id" data-id="">
														<label for="id">
															<span class="lang" data-lang="es">Departamento de Infraestructura</span>
															<span class="lang" data-lang="en">Infrastructure Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="ntd" id="ntd" data-id="">
														<label for="ntd">
															<span class="lang" data-lang="es">Departamento de Redes y Telecomunicaciones</span>
															<span class="lang" data-lang="en">Network and Telecommunications Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="dipe" id="dipe" data-id="">
														<label for="dipe">
															<span class="lang" data-lang="es">Dirección de Planeación y Evaluación Institucional</span>
															<span class="lang" data-lang="en">area of Institutional Planning and Evaluation</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="sp" id="sp" data-id="">
														<label for="sp">
															<span class="lang" data-lang="es">Subdirección de Planeación</span>
															<span class="lang" data-lang="en">Sub-directorate of Planning</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="info" id="info" data-id="">
														<label for="info">
															<span class="lang" data-lang="es">Centro de Información</span>
															<span class="lang" data-lang="en">Information Center</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="quality" id="quality" data-id="">
														<label for="quality">
															<span class="lang" data-lang="es">Departamento de Gestión de la Calidad y Ambiental</span>
															<span class="lang" data-lang="en">Quality and Environmental Management Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="ies" id="ies" data-id="">
														<label for="ies">
															<span class="lang" data-lang="es">Subdirección de Evaluación Institucional</span>
															<span class="lang" data-lang="en">Institutional Evaluation Sub-directorate</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="dpcue" id="dpcue" data-id="">
														<label for="dpcue">
															<span class="lang" data-lang="es">Dirección de Promoción, Comunicación y Extensión Universitaria</span>
															<span class="lang" data-lang="en">Directorate of Promotion, Communication and University Extension</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="csd" id="csd" data-id="">
														<label for="csd">
															<span class="lang" data-lang="es">Subdirección de Atención al Cliente</span>
															<span class="lang" data-lang="en">Customer Service Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="language" id="language" data-id="">
														<label for="language">
															<span class="lang" data-lang="es">Departamento de Idiomas</span>
															<span class="lang" data-lang="en">Language Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 col-lg-6 mb-3 mx-auto">
													<div class="form-floating">
														<input type="text" class="form-control dynamic-hint ps-4 mandatory area" data-class="areas" name="ifd" id="ifd" data-id="">
														<label for="ifd">
															<span class="lang" data-lang="es">Departamento de Formación Integral</span>
															<span class="lang" data-lang="en">Integral Formation Department</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>

												<div id="addAreaField" class="col-12 my-2 py-2">
													<h6 class="lang text-center" data-lang="es">Añadir un nuevo campo para evaluación de area</h6>
													<h6 class="lang text-center" data-lang="en">Add a new field for area evaluation</h6>
													<button type="button" class="btn btn-secondary mx-auto d-flex align-self-center mb-4"
														data-bs-toggle="modal" data-bs-target="#addFiledModal">
														<i class="fa-solid fa-plus fs-5 py-1"></i>
													</button>
												</div>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<h2 class="accordion-header" id="h-3">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
												<span class="lang" data-lang="es">Evaluación por Dirección Académica</span>
												<span class="lang" data-lang="en">Evaluation by Academic Directorate</span>
											</button>
										</h2>
										<div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="h-3"
											data-bs-parent="#accordionMetrics">
											<div class="accordion-body row">
												<div class="col-12 mb-3 mx-auto">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory a_directorates" data-class="a_directorates" name="adaa" id="adaa" data-prefer="14">
															<% for(let dir in directorates) { %>
																<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
															<% } %>
														</select>
														<label for="adaa">
															<span class="lang" data-lang="es">Dirección Académica de Administración y Contaduría</span>
															<span class="lang" data-lang="en">Academic Directorate of Administration and Accounting</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 mb-3 mx-auto">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory a-directorate" data-class="a_directorates" name="aditm" id="aditm" data-prefer="11">
															<% for(let dir in directorates) { %>
																<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
															<% } %>
														</select>
														<label for="aditm">
															<span class="lang" data-lang="es">Dirección Académica de Tecnologías de la Información y Mecatrónica</span>
															<span class="lang" data-lang="en">Academic Directorate of Information Technologies and Mechatronics</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 mb-3 mx-auto">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory a-directorate" data-class="a_directorates" name="adia" id="adia" data-prefer="12">
															<% for(let dir in directorates) { %>
																<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
															<% } %>
														</select>
														<label for="adia">
															<span class="lang" data-lang="es">Dirección Académica del Área Industrial</span>
															<span class="lang" data-lang="en">Academic Directorate of the Industrial Area</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
												<div class="col-12 mb-3 mx-auto">
													<div class="form-floating">
														<select class="form-control form-select selector ps-4 mandatory a-directorate" data-class="a_directorates" name="adbda" id="adbda" data-prefer="38">
															<% for(let dir in directorates) { %>
																<option value="<%= directorates[dir]._id %>"><%= directorates[dir].description[session.lang] %></option>
															<% } %>
														</select>
														<label for="adbda">
															<span class="lang" data-lang="es">Dirección Académica de Desarrollo de Negocios y Agricultura</span>
															<span class="lang" data-lang="en">Academic Directorate of Business Development and Agriculture</span>
															<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
								<span data-lang="es">Cancelar</span>
								<span data-lang="en">Cancel</span>
							</button>
							<button id="btn-all-report" type="button" class="btn btn-dark" data-bs-dismiss="modal">
								<span data-lang="es">Descargar Reporte</span>
								<span data-lang="en">Download Report</span>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div id="addFiledModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
					<div class="modal-content shadow-lg">
						<div class="modal-body">
							<div class="container">
								<h6 class="text-center" data-lang="es">Escribe nombre de la área a añadir y que servirá para buscar el jefe
									a cargo de esta. Los empleados a su cargo aparecerán en las gráficas del reporte.</h6>
								<h6 class="text-center" data-lang="en">Type the name of the area to be added, which will be used to search
									for the manager in charge of it. in charge of it. The employees in charge will appear in
									the report graphs.</h6>
								<div class="form-floating mt-3">
									<input type="text" class="form-control" id="add-label">
									<label for="add-label">
										<span class="lang" data-lang="es">Nombre de la Área</span>
										<span class="lang" data-lang="en">Area name</span>
									</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
								<span data-lang="es">Cancelar</span>
								<span data-lang="en">Cancel</span>
							</button>
							<button id="addField" type="button" class="btn btn-primary" data-bs-dismiss="modal">
								<span data-lang="es">Añadir Campo</span>
								<span data-lang="en">Add Field</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<% } %>

			<div class="mb-3">
				<div class="container-fluid px-4">
					<div class="container">
						<div class="dynamic-title mt-4 mb-0 vw-80 vw-lg-50">
							<h1 class="display-3 text-center pt-3 pb-5">
								<span class="lang" data-lang="es">Métricas</span><span class="lang" data-lang="en">Metrics</span>
							</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="mb-5 bg-ligth-gray">
				<div class="row w-100 w-lg-90 my-3">
					<div class="w-auto d-flex ms-2 me-lg-5 ms-lg-4 pe-lg-5">
						<h2 class="display-6 text-center my-auto">
							<span class="lang" data-lang="es">Controles</span>
							<span class="lang" data-lang="en">Controls</span>
						</h2>
					</div>
					<div class="col">
						<div class="d-flex justify-content-end my-4 pe-5">
							<button id="btn-mono-report" class="btn btn-download text-center d-flex flex-column mx-3">
								<span class="w-100">
									<i class="fa-solid fa-file-download fa-3x"></i>
								</span>
								<span class="w-100 mt-2">
									<span class="lang" data-lang="es">Descargar Reporte</span>
									<span class="lang" data-lang="en">Download Report</span>
								</span>
							</button>
							<% if('super' in session) { %>
								<button class="btn btn-download text-center d-flex flex-column mx-3"
									data-bs-toggle="modal" data-bs-target="#modalSelector">
									<span class="w-100">
										<i class="fa-solid fa-file-download fa-3x"></i>
									</span>
									<span class="w-100 mt-2">
										<span class="lang" data-lang="es">Descargar Todo</span>
										<span class="lang" data-lang="en">Download All</span>
									</span>
								</button>
							<% } %>
							<button id="addPanel" class="btn btn-add-panel text-center d-flex flex-column mx-3">
								<span class="w-100">
									<i class="fa-solid fa-plus fa-3x"></i>
								</span>
								<span class="w-100 mt-2">
									<span class="lang" data-lang="es">Agregar panel</span>
									<span class="lang" data-lang="en">Add Panel</span>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div id="yea">
				<% for(let s in subordinates) { %>
					<%= subordinates[s].description%>
				<% } %>
			</div>

			<div>
				<div class="container-fluid px-4">
					<div class="help-bar bg-dark text-light w-100 rounded-3">
						<div class="d-flex justify-content-center">
							<div class="w-80 w-md-50 text-center d-inline-flex my-2">
								<i class="fa-solid ms-auto me-2 my-auto fa-info-circle fa-2x blink"></i>
								<p class="fs-5 me-auto ms-2 my-2">
									<span class="lang" data-lang="es">
										<span class="fw-bold me-1">Pequeño tip:</span> Si deseas comparar áreas y demás,
										basta con solo agregar un nuevo panel y configurar lo que quieres ver. ¡Sencillísimo!
									</span>
									<span class="lang" data-lang="en">
										<span class="fw-bold me-1">Little tip:</span> If you want to compare areas and so on,
										just add a new panel and configure what you want to see. Very simple!
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="mb-5">
				<div class="container-fluid px-4">
					<% if(false) { /* - Bar chart - */ %>
					<!--div class="row w-100 my-4">
						<div class="row mx-auto w-100 w-md-75 w-lg-50 my-3">
							<div class="col-md-6 col-5">
								<p class="text-justyfied m-0 d-flex h-100">
									<span class="text-wrap align-self-center m-0 p-0" data-lang="es">Elige lo que quieres ver en la tabla</span>
									<span class="text-wrap align-self-center m-0 p-0" data-lang="en">Select what yo want to display in the chart</span>
								</p>
							</div>

							<div class="col-md-6 col-7">
								<select class="form-select" id="sel-bar-chart" name="sel-bar-chart">
									<option class="barSelect lang" value="0" data-lang="es" selected>Áreas</option>
									<option class="barSelect lang" value="0" data-lang="en" selected>Areas</option>

									<option class="barSelect lang" value="1" data-lang="es">Direcciones / Subdirecciones</option>
									<option class="barSelect lang" value="1" data-lang="en">Directorates / Sub-directorates</option>
								</select>
							</div>
						</div>

						<div id="bars" class="row mx-3">
							<canvas width="75%" height="30%"></canvas>
						</div>
					</div-->
					<% } %>

					<div id="panelContainer" class="row m-0 my-4 mx-auto justify-content-center"> <!-- Row div container for the report panels -->
						<div class="col-12 col-lg-6 col-xxl-4 panel my-3" data-id="0">
							<div class="shadow-lg rounded-2 buttons-container">
								<div class="row justify-content-end">
									<div class="config-menu d-none position-absolute w-md-30 w-40 rounded-2 shadow-lg py-3 mt-6 me-5">
										<div class="container m-0 p-0">
											<div class="row">
												<div class="col-md-6 col-12 mx-auto my-1">
													<div class="form-floating">
														<select class="form-select areas" id="sel-area" name="sel-area" aria-label="Selección">
															<option class="area-def" value="0" selected data-lang="es">Selecciona área</option>
															<option class="area-def" value="0" selected data-lang="en">Select area</option>
															<% for(let a in areas) { %>
																<option class="area" value="<%= areas[a]['_id'] %>">
																	<%= areas[a]['description'][session.lang] %>
																</option>
															<% } %>
														</select>
														<label for="sel-area">
															<span class="lang" data-lang="es">Área</span>
															<span class="lang" data-lang="en">Area</span>
														</label>
													</div>
												</div>
												<div class="col-md-6 col-12 mx-auto my-1">
													<div class="form-floating">
														<select class="form-select directorates" id="sel-directorate" name="sel-directorate" aria-label="Selección">
															<option class="directorate-def" value="0" selected data-lang="es">Selecciona dirección</option>
															<option class="directorate-def" value="0" selected data-lang="en">Select directorate</option>
															<% for(let d in directorates) { %>
																<option class="directorate" value="<%= directorates[d]['_id'] %>">
																	<%= directorates[d]['description'][session.lang] %>
																</option>
															<% } %>
														</select>
														<label for="sel-directorate">
															<span class="lang" data-lang="es">Dirección</span>
															<span class="lang" data-lang="en">Directorate</span>
														</label>
													</div>
												</div>
												<div class="col-md-6 col-12 mx-auto my-1">
													<div class="form-floating">
														<select class="form-select subordinates" id="sel-subordinates" name="sel-subordinates"
															aria-label="Selección">
															<option class="sub-def" value="0" data-lang="es" selected>Personal a cargo</option>
															<option class="sub-def" value="0" data-lang="en" selected>Personnel in charge</option>
															<% for(let s in subordinates) { %>
																<option class="sub" data-index="<%= parseInt(s)+1 %>" value="<%= subordinates[s]['_id'] %>">
																	<%= subordinates[s].position.description[session.lang] %>
																</option>
															<% } %>
														</select>
														<label for="sel-subordinates">
															<span class="lang" data-lang="es">Personal</span>
															<span class="lang" data-lang="en">Personnel</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row px-md-2 px-xl-4 pb-3">
									<div class="col-12 px-md-2 px-xl-4">
										<div class="lienzos container">
											<div class="row">
												<div class="col-2 col-md-1 p-0 m-0">
													<button class="btn canvas-remove m-0 mt-3 p-1 w-auto position-absolute">
														<i class="fa-solid fa-times fa-2x pointer-event-none mx-1"></i>
													</button>
												</div>

												<div class="col-8 col-md-10 mt-4">
													<h5 class="text-center fs-4 text-uppercase canvasTitle lang" data-lang="es">
														Personal a cargo
													</h5>
													<h5 class="text-center fs-4 text-uppercase canvasTitle lang" data-lang="en">
														Personnel
													</h5>
												</div>

												<div class="col-2 col-md-1 p-0 m-0">
													<button class="btn canvas-config mt-3 tooltip-text rot-20"
														data-tooltip-es="Desplegar opciones para este panel">
														<i class="fa-solid fa-cog fa-2x pointer-event-none"></i>
													</button>
												</div>
											</div>
											<div class="row p-0 m-0">
												<p id="lbl-name" class="col-12 p-0 m-0 text-center"></p>
											</div>
											<div class="row canvas-container semiDoughnutChart">
												<canvas width="100%" height="100%"></canvas>
											</div>
											<div class="row canvas-container lineChart">
												<canvas width="100%" height="50%"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('template/!scripts.ejs') %>
	<script src="/js/metrics.js"></script>
</body>

</html>
<% } else { %>
	<%- include('template/!handler.ejs') %>
<% } %>