<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
    <%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
        <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <div class="container-fluid px-5">
                <div class="dynamic-title w-md-50 w-75">
                    <h1 class="display-3 py-4">
                        <span class="lang" data-lang="es">Registro de Personal</span>
                        <span class="lang" data-lang="en">Register</span>
                    </h1>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row">
                        <div class="card-body">
                            <form method="POST" name="f-reg" id="f-reg" autocomplete="off">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="first_name" id="first_name"
                                                type="text" placeholder="." />
                                            <label for="first_name">Nombre(s)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input class="form-control" name="last_name" id="last_name"
                                                type="text" placeholder="." />
                                            <label for="last_name">Apellido(s)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input class="form-control" name="_id-r" id="_id_r"
                                                type="text" placeholder="." />
                                            <label for="_id_r">Nuevo usuario</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <select class="form-select" name="area" id="area"
                                                aria-label="Selección" >
                                                <option id="are-s" value="0" selected>-Selecciona área-</option>
                                                <% for(let DATE in area) { %>
                                                    <option class="are" value="<%= area[d]['n'] %>"><%= area[d]['desc'] %></option>
                                                <% } %>
                                            </select>
                                            <label for="area">Área</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <select class="form-select" name="department" id="department"
                                                aria-label="Selección">
                                                <option id="dep-s" class="dep" value="0" selected>N/A</option>
                                                <% for(let DATE in depa) { %>
                                                    <option class="dep" data-area="<%= depa[d]['area'] %>" value="<%= depa[d]['n'] %>"><%= depa[d]['desc'] %></option>
                                                <% } %>
                                            </select>
                                            <label for="department">Departamento</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="career" id="career"
                                                aria-label="Selección" >
                                                <option id="car-s" class="car" value="0" selected>N/A</option>
                                                <% for(let DATE in care) { %>
                                                    <option class="car" data-depa="<%= care[d]['department'] %>" value="<%= care[d]['n'] %>"><%= care[d]['desc'] %></option>
                                                <% } %>
                                            </select>
                                            <label for="career">Carrera</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="contract" id="contract"
                                                aria-label="Selección" >
                                                <option id="ct-s" selected>N/A</option>
                                                <% for(let DATE in contracts) { %>
                                                    <option class="ct-s" value="<%= contracts[d]['n'] %>"><%= contracts[d]['desc'] %></option>
                                                <% } %>
                                            </select>
                                            <label for="contract">Contrato</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="lvl" id="lvl"
                                                aria-label="Selección" >
                                                <option id="lvl-s" value="0" selected>N/A</option>
                                                <option class="lvl-s lvl-1" value="1">Administrativo</option>
                                                <option class="lvl-s lvl-2" value="2">Director</option>
                                                <option class="lvl-s lvl-2" value="3">Sub director</option>
                                                <option class="lvl-s lvl-3" value="4">Docente</option>
                                            </select>
                                            <label for="lvl">Nivel</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <select class="form-select" name="manager" id="manager"
                                                aria-label="Selección" placeholder="." disabled>
                                                <option id="mgr-s" value="0" selected>N/A</option>
                                            </select>
                                            <label for="manager">Manager</label>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row my-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="street" id="street"
                                                type="text" placeholder="." />
                                            <label for="street">Calle</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="num" id="num"
                                                type="number" placeholder="Nº" />
                                            <label for="num">Numero</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="postal_code" id="postal_code"
                                                type="text" placeholder="." />
                                            <label for="postal_code">No. Código</label>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="b-day" id="b_day"
                                                type="date" placeholder="Nº" />
                                            <label for="b_day">Fecha de nacimiento</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="pass-r" id="pass_r"
                                                type="password" placeholder="Nº" />
                                            <label for="pass_r">Contraseña</label>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="mt-4 mb-0">
                                    <div class="row mt-5">
                                        <button id="submit" class="mx-auto w-50 w-md-25 btn btn-primary btn-block" type="button">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="text-center py-3">
                            <p id="loginMsg" class="text-center my-2"></p>
                        </div>
                </div>
            </div>

            <%- include('template/!footer.ejs') %>
        </div>
    </div>

    <%- include('template/!scripts.ejs') %>
    <script src="/js/registro.js"></script>
</body>

</html>
<% } else { %>
    <%- include('template/!handler.ejs') %>
<% } %>
