<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
    <div class="noti mx-auto w-25 d-flex flex-nowrap justify-content-center position-fixed">
        <div id="noti" class="container-fluid mt-5"></div>
    </div>

    <div id="backPanel" onclick="toggleFloating(0)" class="d-none w-100 h-100 position-fixed bg-dark-50"></div>

    <%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
        <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h1 class="display-3 text-center mt-3 mb-5">Registro de Nuevo Personal</h1>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row">
                        <div class="card-body">
                            <form method="POST" name="f-reg" id="f-reg" autocomplete="off">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="first_name" id="first_name"
                                                type="text" placeholder="." />
                                            <label for="first_name">Nombre(s)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input class="form-control" name="last_name" id="last_name"
                                                type="text" placeholder="." />
                                            <label for="last_name">Apellido(s)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input class="form-control" name="_id-r" id="_id_r"
                                                type="text" placeholder="." />
                                            <label for="_id_r">Usuario</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <select class="form-select" name="area" id="area"
                                                aria-label="Selección" >
                                                <option selected>Seleccione area...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <label for="area">Area</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="department" id="department"
                                                aria-label="Selección" >
                                                <option selected>Seleccione departamento...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <label for="department">Departamento</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="career" id="career"
                                                aria-label="Selección" >
                                                <option selected>Seleccione carrera...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <label for="career">Carrera</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="contract" id="contract"
                                                aria-label="Selección" >
                                                <option selected>Seleccione contrato...</option>
                                                <% for(var d in contracts) { %>
                                                    <option value="<%= contracts[d]['n'] %>"><%= contracts[d]['desc'] %></option>
                                                <% } %>
                                            </select>
                                            <label for="contract">Contrato</label>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row my-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="street" id="street"
                                                type="text" placeholder="." />
                                            <label for="street">Calle</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="num" id="num"
                                                type="number" placeholder="Nº" />
                                            <label for="num">Numero</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="postal_code" id="postal_code"
                                                type="text" placeholder="." />
                                            <label for="postal_code">No. Código</label>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="b-day" id="b_day"
                                                type="date" placeholder="Nº" />
                                            <label for="b_day">Fecha de nacimiento</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" name="pass-r" id="pass_r"
                                                type="password" placeholder="Nº" />
                                            <label for="pass_r">Contraseña</label>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="mt-4 mb-0">
                                    <div class="row mt-5">
                                        <button class="mx-auto w-50 btn btn-primary btn-block" type="button" onclick="register()">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="text-center py-3">
                            <p id="loginMsg" class="text-center my-2"></p>
                        </div>
                </div>
            </div>

            <%- include('template/!footer.ejs') %>
        </div>
    </div>

    <div class="spinner-border text-info"></div>

    <%- include('template/password.ejs') %>
    <%- include('template/login.ejs') %>
    <%- include('template/loading.ejs') %>

    <%- include('template/!scripts.ejs') %>
    <script src="/js/register.js"></script>
</body>

</html>
<% } else { %>
    <script>
        window.location.href = String(location.href).slice(0, 21+1)+"inicio/"
    </script>
<% } %>