<% if (session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
<%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
    <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <main class="mb-5">
                <div class="container-fluid px-4">
                    <div class="container">
                        <div class="dynamic-title mt-4 mb-0 vw-50">
                            <h1 class="display-3 text-center pt-3 pb-5">
                                <% if (session.lvl <= 1) { %>
                                    Reporte Completo
                                <% } else { %>
                                    Reporte
                                <% } %>
                            </h1>
                        </div>

                        <!--h2 class="display-6 text-center mb-5" data-time="<%= hour %>">
                            <%= s %>, <%= session.name %>
                        </h2-->
                        <div class="d-flex justify-content-center my-4">
                            <button class="btn btn-info" onclick="pdfReport()">Descargar Reporte</button>
                        </div>
                    </div>

                    <div class="row my-4 mx-auto">
                        <div class="col-6">
                            <div class="row px-5">
                                <div class="col-12 px-5">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 mt-4">
                                                <h5 class="text-center display-6">AREA</h5>
                                            </div>
                                        </div>
                                        <div class="row px-5 mx-3 canvas-container semiDoughnutChart">
                                            <canvas id="semiDoughnutChart-0" width="100%" height="100%"></canvas>
                                        </div>
                                        <div class="row canvas-container barsChart">
                                            <canvas id="barsChart-0" width="100%" height="50%"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 mx-auto my-1">
                                    <div class="form-floating">
                                        <select class="form-select" name="area" id="area" aria-label="Selección">
                                            <option id="are-s" value="0" selected>-Selecciona área-</option>
                                            <% for(var d in area) { %>
                                                <option class="are" value="<%= area[d]['n'] %>"> 
                                                    <%= area[d]['desc'] %> 
                                                </option>
                                            <% } %>
                                        </select>
                                        <label for="area">Área</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mx-auto my-1">
                                    <div class="form-floating">
                                        <select class="form-select" name="department" id="department" aria-label="Selección" disabled>
                                            <option id="dep-s" class="dep" value="0" selected>-Selecciona departamento-</option>
                                            <% for(var d in depa) { %>
                                                <option class="dep" data-area="<%= depa[d]['area'] %>" value="<%= depa[d]['n'] %>">
                                                    <%= depa[d]['desc'] %>
                                                </option>
                                            <% } %>
                                        </select>
                                        <label for="department">Departamento</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mx-auto my-1">
                                    <div class="form-floating">
                                        <select class="form-select" name="career" id="career" aria-label="Selección" disabled>
                                            <option id="car-s" class="car" value="0" selected>-Selecciona carrera-</option>
                                            <% for(var d in care) { %>
                                                <option class="car" data-depa="<%= care[d]['department'] %>" value="<%= care[d]['n'] %>">
                                                    <%= care[d]['desc'] %>
                                                </option>
                                            <% } %>
                                        </select>
                                        <label for="career">Carrera</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        <%- include('template/!footer.ejs') %>
        </div>
    </div>

    <%- include('template/!scripts.ejs') %>
    <script src="/js/reportes.js"></script>
    <script src="/js/pdf-report.js"></script>
</body>

</html>
<% } else { %>
    <%- include('template/!handler.ejs') %>
<% } %>
