<% if(session) { %>
<%- include('template/!head.ejs') %>

<body class="sb-nav-fixed">
    <div id="noti" class="noti mx-auto w-25 d-flex flex-nowrap justify-content-center position-fixed"></div>

    <%- include('template/navbar.ejs') %>

    <div id="layoutSidenav">
        <%- include('template/sidebar.ejs') %>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="display-1 text-center my-5">
                        <% if(session.lvl <= 2) { %>
                            Reporte Completo
                        <% } else { %>
                            Reporte Personal
                        <% } %>
                    </h1>
                    <h2 class="display-6 text-center mb-5">Buenas tardes, <%= session.name %></h2>

                    <div class="row my-4">
                        <% if(session.lvl <= 2) { %>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header d-flex">
                                    <i class="fas fa-id-card fa-2x me-1"></i>
                                    <h5 class="mx-3">Selecciona área</h5>
                                </div>

                                <div class="card-body">
                                    <div class="container">
                                        <div class="row d-flex">
                                            <div class="col-3 text-center">
                                                <h6>Área: </h6>
                                            </div>
                                            <div class="col-2 mx-1">
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        -Selecciona área-
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#">Another action</a>
                                                        </li>
                                                        <li><a class="dropdown-item" href="#">
                                                            Something else here
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-7"></div>
                                        </div>
                                        <div class="row d-flex mt-4">
                                            <div class="col-3 text-center">
                                                <h6>Departamento:</h6>
                                            </div>
                                            <div class="col-2 mx-1">
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        -Selecciona departamento-
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#">Another action</a>
                                                        </li>
                                                        <li><a class="dropdown-item" href="#">Something else
                                                                here</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-7"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card mb-4">
                                <div class="card-header d-flex">
                                    <i class="fas fa-chart-pie fa-2x me-1"></i>
                                    <h5>Desempeño por años</h5>
                                </div>
                                <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                                <div class="card-footer small text-muted"></div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <div class="card-header d-flex">
                                        <i class="fas fa-chart-pie fa-2x me-1"></i>
                                        <h5>Desempeño por años</h5>
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                                    <div class="card-footer small text-muted"></div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <div class="row my-4">
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header d-flex">
                                    <i class="fas fa-chart-bar fa-2x me-1"></i>
                                    <h5>Desempeño por años</h5>
                                </div>
                                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                                <div class="card-footer small text-muted"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header d-flex">
                                    <i class="fas fa-chart-area fa-2x me-1"></i>
                                    <h5>Desempeño por años</h5>
                                </div>
                                <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                                <div class="card-footer small text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('template/!footer.ejs') %>
        </div>
    </div>

    <%- include('template/loading.ejs') %>

    <%- include('template/!scripts.ejs') %>
</body>

</html>
<% } else { %>
    <script>
        window.location.href = String(location.href).slice(0, 21+1)+"inicio/"
    </script>
<% } %>